/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: url("./public/background.jpg") no-repeat;
  background-size: cover;
}

body::before {
  content: "";
  background: rgba(0, 0, 0, 0.5725490196);
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

.main-header {
  height: 10rem;
  margin-top: 2rem;
}

.container-main-header {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.container-main-header__container-logo {
  width: 20.8rem;
  height: 10rem;
}

.container-logo__figcation {
  display: none;
}

@media (max-width: 1533px) {
  .main-header {
    display: none;
  }
}
.main-content {
  margin: 0 10rem;
  position: relative;
  margin-top: 5rem;
  height: calc(100vh - 17rem);
  display: grid;
  grid-template-columns: 45rem 45rem auto;
  grid-template-areas: "character-selection-section character-selection-section selected-character-section" "button button button";
  font-family: "Orbitron", sans-serif;
}

.main-content--displacement .selected-character-section {
  right: 450px;
  transition: right 0.6s;
}

.character-selection-section {
  grid-area: character-selection-section;
  width: 100%;
  transition: all 0.8s;
  overflow: hidden;
  padding: 0 4rem;
}

.character-selection-section--hidde {
  width: 0;
  padding: 0;
}

.character-selection-container__title {
  font-size: 1.3rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  width: 82rem;
  letter-spacing: 0.5rem;
  margin-bottom: 3rem;
  color: #fff;
}

.character-selection-container__container-characters {
  display: grid;
  grid-template-areas: "character1 character2 character3 character4" "character5 character6 character7 character8";
  gap: 1.5rem;
  justify-content: space-between;
}

.container-characters__container-character {
  width: 17rem;
  height: 19rem;
  cursor: pointer;
  transition: 0.3s linear;
  transform: scale(1);
}
.container-characters__container-character:hover {
  transform: scale(0.9);
}

.container-characters__container-character--selected {
  transform: scale(0.9);
}

.container-characters__container-character:nth-child(1) {
  grid-area: character1;
}
.container-characters__container-character:nth-child(1):hover {
  box-shadow: 0 0 4rem #f1ca27;
}

.container-characters__container-character:nth-child(2) {
  grid-area: character2;
}
.container-characters__container-character:nth-child(2):hover {
  box-shadow: 0 0 4rem #92d050;
}

.container-characters__container-character:nth-child(3) {
  grid-area: character3;
}
.container-characters__container-character:nth-child(3):hover {
  box-shadow: 0 0 4rem #2f6597;
}

.container-characters__container-character:nth-child(4) {
  grid-area: character4;
}
.container-characters__container-character:nth-child(4):hover {
  box-shadow: 0 0 4rem #f7bcb6;
}

.container-characters__container-character:nth-child(5) {
  grid-area: character5;
}
.container-characters__container-character:nth-child(5):hover {
  box-shadow: 0 0 4rem #5fbdad;
}

.container-characters__container-character:nth-child(6) {
  grid-area: character6;
}
.container-characters__container-character:nth-child(6):hover {
  box-shadow: 0 0 4rem #b82222;
}

.container-characters__container-character:nth-child(7) {
  grid-area: character7;
}
.container-characters__container-character:nth-child(7):hover {
  box-shadow: 0 0 4rem #ed7d31;
}

.container-characters__container-character:nth-child(8) {
  grid-area: character8;
}
.container-characters__container-character:nth-child(8):hover {
  box-shadow: 0 0 4rem #70478d;
}

.container-character__img {
  height: 100%;
}

.selected-character-section {
  grid-area: selected-character-section;
  right: 0;
  position: relative;
}

.selected-character-section--display {
  display: none;
}

.selected-character-section__selected-character-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selected-character-container_character-container {
  height: 25rem;
  width: 20.8rem;
}

.character-container__img {
  height: 100%;
}

.selected-character-container__character-name,
.selected-character-container__character-bio {
  color: #fff;
}

.selected-character-container__character-name {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.6rem;
  letter-spacing: 0.5rem;
  margin-bottom: 2.5rem;
  margin-top: 2.5rem;
}

.selected-character-container__character-bio {
  padding: 0 1.5rem;
  line-height: 1.8rem;
  overflow-y: auto;
  font-size: 1.3rem;
  width: 33rem;
  height: 12rem;
}

.button {
  grid-area: button;
  height: 4rem;
  position: absolute;
  width: 20rem;
  text-transform: uppercase;
  font-weight: 800;
  border: none;
  border-radius: 1.5rem;
  cursor: pointer;
  color: white;
  background-color: #a38257;
  justify-self: center;
  bottom: 1.5rem;
}
.button:hover {
  background-color: #775e3f;
  transition: 0.3s;
}

.button--hidde {
  display: none;
}

@media (max-width: 1533px) {
  .main-content {
    display: none;
  }
}
.alert-container {
  display: none;
}

@media (max-width: 1533px) {
  .alert-container {
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .alert-container__label {
    font-size: 2rem;
    color: #fff;
    font-family: "Orbitron", sans-serif;
    font-weight: 600;
  }
}
.c-loader {
  animation: is-rotating 1s infinite;
  border: 6px solid #e5e5e5;
  border-radius: 50%;
  border-top-color: #cf8831;
  height: 50px;
  width: 50px;
  position: absolute;
  left: 65rem;
  top: 15rem;
}

.c-loader--display {
  display: none;
}

@keyframes is-rotating {
  to {
    transform: rotate(1turn);
  }
}

/*# sourceMappingURL=main.css.map */
