.card-corpo__botao-carrinho {
    border-radius: 15px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: var(--azul-claro);
    color: var(--branco);
    transition: background-color .3s linear;

}

.card-corpo__botao-carrinho:hover {
    background-color: #1d89b8;
}