.card-garantias__cabecalho {
    grid-area: card-cabecalho;
    background-image: url("https://images.vexels.com/media/users/3/157443/isolated/preview/0be262dfa410be573a1e7ea787e76a42-icone-de-cifrao-de-marketing.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 150px;
}