.conteudos__background{
   
    background-image: url("../../../../img/slack.png");
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: card-img;
    height: 140px;
    width: 100%;

}

.conteudos__background--whatsapp{
    background-image: url("../../../../img/whatsapp.png");
}

.conteudos__background--telegram{
    background-image: url("../../../../img/telegram.jpeg");
}

.conteudos__background--trello{
    background-image: url("../../../../img/trello.jpg");
}

.conteudos__background--skype{
    background-image: url("../../../../img/skype.png");
}

.conteudos__background--fortnite{
    background-image: url("../../../../img/fortnite.jpg");
}

.conteudos__background--pubg{
    background-image: url("../../../../img/pubg.jpg");
}

.conteudos__background--cs-go{
    background-image: url("../../../../img/cs-go.jpg");
}

.conteudos__background--lol{
    background-image: url("../../../../img/lol.jpg");
}

.conteudos__background--gta{
    background-image: url("../../../../img/gta-v.jpg");
    
}

.conteudos__background--brawl{
    background-image: url("../../../../img/brawl-stars.jpg");
    
}

.conteudos__background--organizze{
    background-image: url("../../../../img/organizze.jpeg");
    
}

.conteudos__background--onefootball{
    background-image: url("../../../../img/onefotball.jpeg");
    
}

.conteudos__background--free-fire{
    background-image: url("../../../../img/free-fire.jpg");
    
}

.conteudos__background--super-mario{
    background-image: url("../../../../img/mario-kart.jpg");
    
}










