.main-footer {

    padding: 0 2.0rem;

    .main-footer__divider-container {

        max-width: 27.2rem;
        .main-footer__img {

            margin-top: 2.5rem;
            margin-bottom: 2.0rem;
        }
    
        .main-footer__parag {
    
            font-weight: 500;
            font-size: 1.6rem;
            line-height: 1.8rem;
            
        }
    }

   
}