.container-conteudo-principal__parag{
    font-size: 1.125rem;
    margin-bottom: 1.563rem;
}

.container-conteudo-principal__parag--personalizado{
    margin-top: 1.875rem;
    font-size: 1.188rem;
}