.container-conteudo-principal__img-autor {
    height: 31.25rem;
    border-radius: 1.25rem;
    box-shadow: 0.125rem 0.125rem 0.625rem #000;
    transition: opacity .5s;
}

.container-conteudo-principal__img-autor:hover {
    cursor: pointer;
    box-shadow: 0.313rem 0.313rem 1.25rem #000;
    opacity: 90%;

}