.secret-friend-section__secret-friend-form {
  font-family: $source-primary;

}

.secret-friend-form__group-input {
  display: flex;
  flex-direction: column;
  width: 100%;  
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.group-input__label {
  color: #1875e8;
  font-size: 1.5rem;
  font-weight: 600;
}

.group-input__input {
  width: 100%;
  background-color: transparent;
  border: 0.1rem solid #1875e8;
  border-radius: 0.5rem;
  height: 5rem;
  padding: 0 1.5rem;
  outline: none;
  color: #FFF;
}

.group-input__input::placeholder {
  color: #fff;
}

.secret-friend-form__group-buttons {
  display: flex;
  gap: 1.5rem;
}

.group-buttons__buttons {
  font-size: 1.6rem;
  font-weight: 700;
  width: 150px;
  height: 35px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.group-buttons__buttons:nth-child(1) {
  background-color: #1875e8;
  color: #fff;
}

.group-buttons__buttons:nth-child(2) {
  background-color: #fff;
  color: #1875e8;
}

.group-buttons__buttons:nth-child(3) {
  background-color: transparent;
  color: #00f4bf;
  border-bottom: 0.1rem solid #00f4bf;
  border-radius: 0;
  display: block;
  width: 80px;
}
