.secret-friend-section {
    height: 55.0rem;
    width: 100%;
    max-width: 120.0rem;
    background-color: #000;
    filter: drop-shadow(0px 0px 30px #1875e8);
    display: flex;
    flex-direction: column;
    padding: 6.0rem;
}

.secret-friend-section__secret-friend-section-title {
    font-family: $source-secundary;
    color: #FFF;
    font-size: 6.0rem;
    margin-bottom: 4.0rem;
    
}

.secret-friend-section-title--color {
    color: #1875e8;
}