.conteudo-principal {

    height: calc(100vh - 10.0rem - 3.0rem);   
    display: flex;


    .conteudo-principal__container-conteudo-principal {


        display: flex;
        height: 100%;
        width: 90%;
        margin: 0rem auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
    }

    

    
}