.main-header {
  height: 11.1rem;
  width: 100%;
  display: flex;
  align-items: center;
}

.main-header__container-user {
  display: flex;
  align-items: center;
}

.container-user__img-user {
  width: 5.7rem;
  height: 5.7rem;
  border-radius: 100%;
  margin-right: 1.5rem;
}

.container-user__greeting-to-user {
  display: flex;
  flex-direction: column;
}

.greeting-to-user_greeting {
  font-weight: 700;
  font-size: 2.2rem;
  color: $gray;
  margin-bottom: 1rem;
}

.greeting-to-user__number-appointments {
  color: $light-gray;
  font-size: 1.4rem;
}

@media (min-width: 1062px) {
  .main-header {
    grid-area: header-content;
    width: calc(100vw - 184px);
  }
}
