$roxo: #7B09C6;
$cinza: #DFDFDF;


.button-default {
    background-color: #FFF;
    border: none;
    color: $roxo;
    width: 100%;
    max-width: 28.3rem;
    min-width: 19.4rem;
    padding: 1.0rem 1.5rem;
    border-radius: 1.0rem;
    cursor: pointer;
    transition: all .2s linear;

    &:hover {
        background-color: $cinza;
    }
}


body {
    position: relative;
    font-family: 'Roboto', sans-serif;
}

.container-alert {

    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .container-alert__box {

        height: 9.0rem;
        display: flex;
        position: relative;
        align-items: center;
        background-color: $cinza;
        padding: 0rem 1.5rem;
        border-radius: 1.5rem;
        box-shadow: .5rem .5rem 1.0rem #00000072;
        margin: 0rem 1.5rem;

        .box__label {

            font-size: 1.5rem;
            font-weight: 300;
            margin-bottom: 1.5rem;

        }

        .button-alert-default {

            position: absolute;
            right: 1.5rem;
            bottom: 1.0rem;
            background-color: #7B09C6;
            border: none;
            border-radius: .5rem;
            padding: .5rem 1.0rem;
            cursor: pointer;
            color: #FFF;
            transition: .3s;

            &:hover {
                background-color: #7a09c6bd;
            }

        }
    }

    .hide-content {
        display: none;
    }
}

.hide-content {
    display: none;
}