.container-botoes__botoes {
    background-color: var(--cinza-branco);
    padding: 10px 20px;
    color: #5f6366;
    border-radius: 3px;
    border: 1px solid transparent;
    font-size: 14px;
}

.container-botoes__botoes:hover {
    border: 1px solid #afb5b9;
    box-shadow: 2px 2px 3px rgb(189, 187, 187);
}