:root {
    --cinza-escuro: #292929;
    --cinza-claro: #8d8c8c;
    --cinza: #383838;
    --branco: #FFFFFF;
}

.corpo-documento {
    display: grid;
    grid-template-areas: 
    "cabecalho"
    "conteudo-da-pagina"
    "rodape";
    font-family: 'Roboto', sans-serif;
}