:root {
    --branco: #ffffff;
    --cinza: #f1f1f1;
    --preto: #000000;
    --azul: #0a66c2;
    --cinza-escuro: #b3b2b2;
    --transparente: rgba(0, 0, 0, 0.418);
}


.base {
    display: grid;
    grid-template-areas: 
        "cabecalho"
        "conteudoPrincipal"
        "rodape";
    grid-template-columns: auto;
    grid-template-rows: 60px 2300px 50px;
    background: var(--cinza);
    font-family: 'Roboto', sans-serif;
}