.container-link__link {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.container-link__link:hover {
    text-decoration: underline;
    color: rgb(53, 52, 52);
}