body {
  display: grid;
  grid-template-areas: "menu  conteudo-principal conteudo-principal" "rodape rodape rodape";
  grid-template-rows: calc(1000px - 6rem) 6rem;
  grid-template-columns: 25rem auto auto;
  font-family: "Roboto", sans-serif;
  user-select: none;
}

@media screen and (max-width: 676px) {
  body {
    grid-template-columns: 6rem auto auto;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 488px) {
  html {
    font-size: 50%;
  }
}
.conteudo-principal {
  grid-area: conteudo-principal;
  border-left: 1px solid #e7ecf0;
  border-right: 1px solid #e7ecf0;
  width: 60%;
  max-width: 70rem;
  min-width: 42rem;
}
.conteudo-principal .conteudo-principal__titulo {
  font-weight: bold;
  border-bottom: 1px solid #e7ecf0;
  font-size: 1.5rem;
  padding: 4rem 0rem 1.5rem 4rem;
}

@media screen and (max-width: 900px) {
  .conteudo-principal {
    width: 98%;
  }
}
@media screen and (max-width: 488px) {
  .conteudo-principal {
    min-width: 25rem;
  }
}
.conteudo-principal__container-tweetar {
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 150px;
  align-items: end;
  padding: 1rem 1rem;
  border-bottom: 1rem solid #e7ecf0;
}
.conteudo-principal__container-tweetar .container-twittar__entrada {
  border: none;
  width: 100%;
  height: 50px;
  padding-left: 4rem;
  padding-top: 2rem;
  font-size: 1.5rem;
  outline: none;
  resize: none;
}
.conteudo-principal__container-tweetar .container-twittar__botao {
  color: #ffffff;
  background-color: #1da1f2;
  opacity: 0.4;
  font-weight: bold;
  padding: 1.3rem 2rem;
  border-radius: 1.7rem;
  border: none;
  cursor: pointer;
  width: 10.6rem;
  transition: scale 0.3s linear;
  margin-right: 1.5rem;
}
.conteudo-principal__container-tweetar .container-twittar__botao:hover {
  scale: 1.1;
}

@media screen and (max-width: 488px) {
  .conteudo-principal__container-tweetar .container-twittar__botao {
    height: 4rem;
    display: flex;
    align-items: center;
  }
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts {
  display: flex;
  padding: 4rem 0rem;
  border-bottom: 1px solid #e7ecf0;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao {
  padding: 0rem 1.5rem;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao .publicacao__container-usuario {
  display: flex;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao .publicacao__container-usuario .container-usuario__nome {
  color: #000000;
  font-weight: bold;
  font-size: 1.4rem;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao .publicacao__container-usuario .usuario-verificado {
  display: inline-block;
  background: url("../../images/verifica.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 15px;
  width: 15px;
  margin-left: 0.5rem;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao .publicacao__container-usuario .container-usuario__nick {
  color: #828282;
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao .publicacao__container-usuario .container-usuario__hrs-post {
  color: #828282;
  font-size: 1.3rem;
  margin-left: 0.5rem;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao .publicacao__parag {
  font-size: 1.3rem;
  line-height: 2rem;
  padding: 0.5rem 0rem;
  user-select: text;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__publicacao .publicacao__parag .hasht {
  color: #1da1f2;
}
.conteudo-principal__secao-twitts .secao-twitts__container-twitts .container-twitts__img-perfil {
  height: 4rem;
  padding-left: 2rem;
}

.menu-principal {
  grid-area: menu;
  padding: 1.5rem 0rem 0rem 6rem;
}
.menu-principal .menu-principal__logo {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 676px) {
  .menu-principal {
    padding: 1.5rem 1.5rem;
    position: absolute;
    width: 16rem;
    transition: width 0.4s linear;
  }
  .mostrar-menu {
    background-color: rgba(238, 236, 234, 0.615);
    padding: 1.5rem 1.5rem;
    width: 50%;
    z-index: 4;
    border-bottom-right-radius: 1.5rem;
  }
}
.menu-principal__lista-menu li img {
  margin-right: 1rem;
}
.menu-principal__lista-menu li .lista-menu__anc-principal {
  font-weight: bold;
  display: inline-block;
  font-size: 1.4rem;
  margin-bottom: 2rem;
  display: flex;
  align-items: center;
  color: black;
}
.menu-principal__lista-menu li .lista-menu__anc-principal .foto-perfil {
  background-color: #828282;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 1.5rem;
  margin-right: 1rem;
}
.menu-principal__lista-menu li .lista-menu__anc-principal:hover .itens-link {
  color: #1da1f2;
}
.menu-principal__lista-menu li .anc-principal--ativo {
  color: #1da1f2;
}

@media screen and (max-width: 676px) {
  .menu-principal__lista-menu {
    width: 100%;
  }
  .menu-principal__lista-menu li img {
    margin-right: 0rem;
  }
  .menu-principal__lista-menu li .lista-menu__anc-principal .itens-link {
    display: none;
  }
  .menu-principal__lista-menu li .lista-menu__anc-principal .foto-perfil {
    margin-right: 0rem;
  }
  .menu-principal__lista-menu li .lista-menu__anc-principal:hover .itens-link {
    color: #1da1f2;
  }
  .mostrar-lista-menu {
    width: 100%;
  }
  .mostrar-lista-menu li img {
    margin-right: 1rem;
  }
  .mostrar-lista-menu li .lista-menu__anc-principal .itens-link {
    display: block;
  }
  .mostrar-lista-menu li .lista-menu__anc-principal .foto-perfil {
    margin-right: 1rem;
  }
}
.rodape {
  grid-area: rodape;
  border-top: 1px solid #e7ecf0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rodape p {
  text-align: center;
  font-size: 1.3rem;
  color: #333333;
}

/*# sourceMappingURL=main.css.map */
