:root{
    --branco: #FFFFFF;
    --quase-branco: #F1F5F7;
    --azul-claro: #407094;
    --cinza: #EBEBEB;
    --cinza-escuro: #6F6F6F;
    --parag-form: #AEADAE;
    --titulo-form: #707070;
    --itens-form: #7D7D7D;
    --laranja: #FF9900;
    --titulo-rodape: #3D3D3D;
    --parag-rodape: #7C7C7C;
    --copyright-rodape: #3D3D3D;

    --largura-base: 80%;
}

body {
    font-family: 'Raleway', sans-serif;
}