.main-content__operations-section {


    height: 100vh;
    width: 100%;    

    .operations-section__operations-container {

        height: 100%;
        width: 100%;
        margin: 0rem auto;

    }

    .operations-container__perform-operation,
    .operations-container__operations-menu {
        
        max-height: 400px;
    }
}

