.container-main-content__section-start-now {
  padding-bottom: 27.2rem;
  

  .section-start-now__img {
    width: 326px;
    flex-grow: 4;
    margin: 35px 0 24.99px 0;
  }

  .section-start-now__title {
    font-size: 4.6rem;
    font-weight: 900;
    margin-bottom: 3rem;
    line-height: 5rem;
  }

  .three-dashes::after {
    content: "";
    background-image: url("../../images/three-dashes.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
  }

  .section-start-now__parag {
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.344rem;
    margin-bottom: 3rem;
    text-align: left;
    max-width: 32.0rem;
  }

  .section-start-now__button {
    position: relative;
  }

  .section-start-now__button::after {
    content: "";
    background-image: url("../../images/arrow-curve.svg");
    display: inline-block;
    background-repeat: no-repeat;
    width: 150px;
    height: 100px;
    position: absolute;
    top: 7rem;
    left: 15rem;
    cursor: auto;
  }
}

