body {
  font-family: "Roboto", sans-serif;
  position: relative;
  height: 1150px;
}

.default-title {
  color: #296681;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.main-header {
  height: 8rem;
  background-color: #0a2538;
}

.main-header__container-header {
  height: 100%;
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main-header__container-header .container-header__logo {
  height: 5.5rem;
  width: 5.5rem;
  border-radius: 50%;
  background-color: #4fbc79;
}
.main-header__container-header .container-header__watch-container {
  color: #fff;
  font-size: 2.5rem;
}

.main-content {
  margin-bottom: 1.5rem;
}

.main-content__patient-call {
  background-color: #fff;
  display: flex;
  width: 95%;
  height: calc(100vh - 190px);
  margin: 0 auto;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}
.main-content__patient-call .patient-call__button {
  width: 15rem;
  height: 5rem;
  border: none;
  border-radius: 1.5rem;
  background-color: #4fbc79;
  color: #fff;
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  right: 0rem;
  bottom: 0rem;
  transition: 0.3s;
}
.main-content__patient-call .patient-call__button:hover {
  background-color: #2e6a45;
}

.patient-call__container-call .container-call__call-box {
  border: 2px solid #296681;
  width: 350px;
  height: 200px;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.patient-call__container-call .container-call__call-box .call-box__label {
  font-size: 6.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #296681;
}
.patient-call__container-call .container-call__call-box .call-box__label--modification {
  font-size: 8rem;
  color: #fff;
}
.patient-call__container-call .call-box--modification {
  background-color: #4fbc79;
}

.waiting-section__container {
  background-color: #0a2538;
  display: flex;
  width: 100%;
  height: 8rem;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.waiting-section__container .container__arrow {
  color: #fff;
  cursor: pointer;
  transition: 0.2s;
  font-size: 2rem;
}
.waiting-section__container .container__arrow:hover {
  color: #ccc;
}
.waiting-section__container .slider {
  position: relative;
  height: 100%;
  width: 600px;
  overflow-x: hidden;
}
.waiting-section__container .slider .waiting-section__patient-list {
  height: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1.5rem;
  position: absolute;
  width: 1200px;
}
.waiting-section__container .slider .waiting-section__patient-list .patient-list__items {
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 0.2rem 0.3rem;
  align-items: center;
}
.waiting-section__container .slider .waiting-section__patient-list .patient-list__items .items__patient {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
.waiting-section__container .slider .waiting-section__patient-list .patient-list__items .items__hours .hours__hrs {
  font-weight: 100;
  font-size: 1.7rem;
  margin-top: 0.3rem;
}

.main-content__add-patient {
  margin-top: 1.5rem;
}
.add-patient__form-add-patient {
  background-color: #0a2538;
  width: 500px;
  height: 300px;
  border-radius: 0.5rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 1.5rem;
}
.add-patient__form-add-patient .form-add-patient__input {
  outline: none;
  background-color: rgba(204, 204, 204, 0.3568627451);
  border: none;
  text-align: center;
  color: #fff;
}
.add-patient__form-add-patient .form-add-patient__button {
  cursor: pointer;
  background-color: transparent;
  border: 1px solid #ccc;
  color: #ccc;
  transition: 0.3s;
}
.add-patient__form-add-patient .form-add-patient__button:hover {
  box-shadow: 0 0 10px #ccc;
}
.add-patient__form-add-patient .form-add-patient__input,
.add-patient__form-add-patient .form-add-patient__button {
  width: 300px;
  height: 50px;
  text-transform: uppercase;
  font-size: 2rem;
}

.main-footer {
  background-color: #0a2538;
  height: 3.6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.main-footer .main-footer__label {
  font-size: 1.3rem;
  color: white;
}

/*# sourceMappingURL=main.css.map */
