.conteudo-principal {
    height: calc(100vh - 4.0rem);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    position: relative;

    .alerta-delete {
        background-color: red;
    }

    .alerta-campos-preenchidos {
        background-color: blue;
        width: 20%;
    }
}