.about-us-section {
  background: url("../../../../../public/Bg-about-us.png") no-repeat;
  background-size: cover;
}

.about-us-section_container-about-us-section {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.container-about-us-section__img {
  max-width: 67.2rem;
  height: 83rem;
  flex: 1;
  margin: 0 0 0 4rem;
}

.container-about-us-section__container-additional-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin: 0 4rem 0 0;
}

.container-about-us-section__label {
  text-transform: uppercase;
}

.container-about-us-section__title {
  text-align: start;
  line-height: 6.3rem;
  margin-bottom: 4rem;
}

.container-about-us-section__paragraphy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  font-family: "Nunito Sans", sans-serif;
  color: rgba(84, 84, 84, 1);
}

.container-about-us-section__list-of-statistics {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 3rem;
}

.container-about-us-section__button {
  background-color: #000;
  color: #fff;
  border-radius: 0.4rem;
  border: none;
  margin-top: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 2rem 4rem;
  cursor: pointer;
}
