.our-service-seciton {
  background: url("../../../../../public/Bg-our-services.png") no-repeat;
  background-size: contain;
}

.container-our-service-seciton__label {
  text-transform: uppercase;
}

.container-our-service-seciton__title {
  text-transform: uppercase;
}

.services-container__services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.services-list__item-services-list {
  border: 0.2rem solid rgba(249, 218, 105, 1);
  width: 37rem;
  height: 17.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
  box-shadow: 0 0 2rem #00000043;
  transition: background-color 0.3s;

  &:hover {
    background-color: rgba(249, 218, 105, 1);
  }
}

.item-services-list__container-img {
  width: 6.1rem;
  height: 6.1rem;
  border-radius: 100%;
  box-shadow: 0 0 1rem #0000008b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img__img {
  width: 2.4rem;
}

.inf-container__title {
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.inf-container__label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgba(84, 84, 84, 1);
}
