.workds-seciton {
  background-color: rgb(254, 252, 242);
}

.container-workds-seciton-seciton__container-our-best-projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-our-best-projects__our-best-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.4rem;
  justify-content: space-around;
}

.our-best-projects-list__our-best-projects-list-item {
  height: 49.7rem;
  width: 100%;
  max-width: 36.9rem;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
}

.our-best-projects-list__our-best-projects-list-item:nth-child(1) {
  background: url("../../../../../public/Add\ your\ image\ here.png") no-repeat;
}
.our-best-projects-list__our-best-projects-list-item:nth-child(2) {
  background: url("../../../../../public/Add\ your\ image\ here\(1\).png")
    no-repeat;
}

.our-best-projects-list__our-best-projects-list-item:nth-child(3) {
  background: url("../../../../../public/Add\ your\ image\ here\(2\).png")
    no-repeat;
}

.container-our-best-projects__container-scroll {
  display: flex;
  gap: 0.8rem;
  margin-left: 35rem;
}

.container-scroll__item {
  width: 2rem;
  height: 1.2rem;
  background-color: rgba(249, 218, 105, 1);
  opacity: 40%;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: rgb(249, 218, 105);
    opacity: 100%;
  }
}

.container-scroll__item--selected {
  width: 5.0rem;
  border-radius: 2.0rem;
  background-color: rgb(255, 200, 0);
  opacity: 1;
}

.our-best-projects-list-item__container-project {
  background-color: rgba(249, 218, 105, 1);
  border-radius: 1.2rem;
  opacity: 90%;
  height: 38.7rem;
  width: 100%;
  max-width: 34.1rem;
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: all .4s linear;

}

.our-best-projects-list-item__container-project--width {
  width: 0;
  padding: 0;
}

.container-project__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 28.1rem;
  margin: 3rem;
}

.container-project__container-img {
  border: 0.5rem solid #fff;
  background-color: rgb(183, 245, 232);
  height: 7.8rem;
  width: 100%;
  max-width: 7.8rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img__project-img {
  width: 4.4rem;
}

.container-project__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.container-project__paragraphy,
.container-project__link {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
}

.container-project__paragraphy {
  font-weight: 400;
  line-height: 2.6rem;
  color: rgba(84, 84, 84, 1);
}

.container-project__link {
  font-weight: 600;
  color: #000;
  position: relative;
}

.container-project__link::after {
  content: "";
  background: url("../../../../../public/Vector\ 190.png") no-repeat;
  width: 1.9rem;
  height: 1rem;
  background-size: contain;
  position: absolute;
  top: 20%;
  margin-left: 0.5rem;
}


@media (max-width: 1000px) {
  .container-our-best-projects__container-scroll {
    margin: 0 auto;
  }
}