.rodape {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.0rem;

    .rodape__parag {

        text-align: center;
        font-size: 1.2rem;
        color: #FFF;
        
    }
}