/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&family=Inter:wght@100;200;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgb(0, 0, 0) 15%, rgb(0, 244, 191) 15%, rgb(0, 244, 191) 85%, rgb(0, 0, 0) 85%) no-repeat;
  height: 100vh;
  font-family: "Inter", sans-serif;
}

.main-content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.main-content::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: url("public/imagem-presente.png") no-repeat;
  width: 100%;
  background-size: contain;
  max-width: 66.6rem;
  height: 58.9rem;
  z-index: 1;
}

@media (max-width: 1144px) {
  .main-content::after {
    top: 132px;
    max-width: 36.6rem;
  }
}
@media (max-width: 845px) {
  .main-content::after {
    display: none;
  }
}
.secret-friend-section {
  height: 55rem;
  width: 100%;
  max-width: 120rem;
  background-color: #000;
  filter: drop-shadow(0px 0px 30px #1875e8);
  display: flex;
  flex-direction: column;
  padding: 6rem;
  margin: 0 2rem;
}

.secret-friend-section__secret-friend-section-title {
  font-family: "Chakra Petch", sans-serif;
  color: #fff;
  font-size: 6rem;
  margin-bottom: 4rem;
}

.secret-friend-section-title--color {
  color: #1875e8;
}

@media (max-width: 555px) {
  .secret-friend-section {
    height: auto;
  }
}
.secret-friend-section__secret-friend-form {
  font-family: "Inter", sans-serif;
}

.secret-friend-form__group-input {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.group-input__label {
  color: #1875e8;
  font-size: 1.5rem;
  font-weight: 600;
}

.group-input__input {
  width: 100%;
  background-color: transparent;
  border: 0.1rem solid #1875e8;
  border-radius: 0.5rem;
  height: 5rem;
  padding: 0 1.5rem;
  outline: none;
  color: #fff;
}

.group-input__input::placeholder {
  color: #fff;
}

.secret-friend-form__group-buttons {
  display: flex;
  gap: 1.5rem;
}

.group-buttons__buttons {
  font-size: 1.6rem;
  font-weight: 700;
  width: 150px;
  height: 35px;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
}

.group-buttons__buttons:nth-child(1) {
  background-color: #1875e8;
  color: #fff;
}

.group-buttons__buttons:nth-child(2) {
  background-color: #fff;
  color: #1875e8;
}

.group-buttons__buttons:nth-child(3) {
  background-color: transparent;
  color: #00f4bf;
  border-bottom: 0.1rem solid #00f4bf;
  border-radius: 0;
  width: 8rem;
}

.secret-friend-section__friends-section-for-raffle {
  margin-top: 4rem;
  display: flex;
  gap: 2rem;
}

.friends-section-for-raffle__group-of-chosen-friends {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.group-of-chosen-friends__title-of-the-chosen-group-of-friends {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1875e8;
}

.group-of-chosen-friends__friends {
  border: 0.1rem solid #1875e8;
  height: 4rem;
  border-radius: 0.5rem;
  width: 100%;
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
}

.friends-section-for-raffle__chosen-friends-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.chosen-friends-container__chosen-friends-container-title {
  color: #00f4bf;
  font-size: 1.5rem;
  font-weight: 700;
}

.chosen-friends-container__chosen-friends {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  color: #FFF;
  max-height: 10rem;
  overflow-y: scroll;
}

@media (max-width: 555px) {
  .secret-friend-section__friends-section-for-raffle {
    flex-direction: column;
  }
}
.container {
  width: 100%;
  max-width: 40rem;
}

/*# sourceMappingURL=main.css.map */
