body{

    font-family: 'Roboto', sans-serif;
    height: 2800px;
    width: 100%;   
    font-weight: 300; 
}


/* INICIO DO NAVEGADOR */
.header{
 
   height: 100px;   
   width: 100%;
   padding: 10px 0px;
    
}

.caixa {

    width: 1200px;
    position: relative;
    margin: 0px auto;
    height: 80px;
     
}

.logo > h1, .logo > img, .paginas, .botao-menu > input{
    position: absolute;
}


.logo {

    left: 0px;
    margin-left: 25px;
      
}

.logo > img {
    
    top: 20px;
}

.logo > h1 {
    margin-left: 33px;
    top: 30px;
}


.menu-princial > li{ 

    display: inline-block; 
    margin-left: 20px;
    
} 

.paginas{

    top: 30px;
    left: 300px;
    
}


.menu-princial > a {

    text-decoration: none;
    color: #667085;

}


.paginas a:hover{
    color: #8e2424;
} 


.botao-menu > input{

    height: 35px;
    width: 90px;
    border: none;
    border-radius: 7px;
    font-size: 14px;
    cursor: pointer;
    
    
}

.botao-entrar, .botao-cadastrar{
    top: 20px;
}

.botao-entrar {

    background: white;
    color: #667085;
    right: 135px;
}


.botao-entrar:hover{

    background: white;
    color: #8e2424;

}

.botao-cadastrar {

    background: #8e2424;
    color: white;    
    right: 40px;

}


/* MAIN CABEÇALHO-SECTION */

.main {
    width: 100%;
    height: 2750px;
}

.section-cabecalho{
   
    position: relative;
    margin: 0px auto;
    height: 407px;
    width: 940px;
      
}

  .depoimento > h2, .depoimento > p {
    position: absolute;
    text-align: center;
   
} 

.section-cabecalho > h2{

    color: #8e2424;
    font-size: 0.9em;
    top: 100px;
    text-align: center;
    position: relative;
    font-weight: 500;
}


 .section-cabecalho > h3{

    font-weight: 500;

}

.section-cabecalho > h3{

    font-size: 2em;
    top: 151px;
    position: relative;
    text-align: center;
}

.section-cabecalho > p{

    color: #8b8d96;
    font-size: 16px;
    line-height: 1.5;
    top: 215px;
    position: relative;
    text-align: center;
}


/* CONTAINER-INF */


.container-inf {
    position: relative;
    margin: 0 auto;
    width: 85%;
    top: 30px;
    left: 40px;
}

h3.itens-titulo{
    font-weight: 500;
}

.lista-inf li {
    display: inline-block;
    width: 260px;
    vertical-align: top;
}

.lista-itens-inf  > h3{
    font-size: 4em;
    color: #8e2424;
}

.lista-itens-inf{
    padding-left: 10px;
}


p.texto-lista {
    color: #8b8d96;
    font-size: 15px;
}

p.p-inf {
    font-weight: bold;
    margin: 10px 0px 10px  0px;
}

li.lista-itens-inf{
    margin-left: 20px;
}

.section-inf {

    position: relative;   
    height: 270px;   
    width: 100%;
}

/* SECTION DE VAGAS */

.vagas {
    width: 100%;
    height: 1500px;
}

.cabecalho-vagas {
    width: 80%;
    height: 485px;
    position: relative;
    margin: 0 auto;
    top: 100px;
}

.cabecalho-vagas > h3, .cabecalho-vagas > p {
    text-align: center;
    position: relative;
}


.cabecalho-vagas > h2{

    font-size: 0.9em;
    color: #8e2424;
    background: #fdf8f8;
    padding: 10px 20px;
    border-radius: 15px;
    font-weight: 400;
    display: inline-block;
    position: relative;
    left: 450px;
}


.cabecalho-vagas > h3 {
    font-weight: 500;
    font-size: 2em;
    top: 50px;
}

.cabecalho-vagas > p {
  
    top: 70px;
    color: #8b8d96;
}

.cabecalho-vagas > img {

    width: 1000px;
    height: 300px;
    position: relative;
    margin: 0 auto;
    left: 50px;
    top: 125px;
}

.vagas-abertas {

    width: 80%;
    height: 900px;
    position: relative;
    margin: 0 auto;
    top: 150px;

}

.container-vagas-01 {
    width: 100%;
    height: 340px;
}

.primeira-sec {
    height: 340px;
    width: 70%;
    margin: 0 auto;
    
}


.primeira-sec > ul, .segunda-sec > ul {
    position: absolute;
    top: 50px;
}

li.lista-item {
    border: 1px solid  #d9dbe2cb;
    margin-bottom: 10px;
    line-height: 3;
    border-radius: 10px;
    padding: 10px 490px 10px 20px;
    cursor: pointer;
    }

    
li.lista-item:hover {
    background: #dee1ee;
}

.lista-item p {
    display: inline-block;
    padding-right: 10px;
    color: #8b8d96;

}

.primeira-sec h3,  .segunda-sec h3{
    font-weight: 400;
}

/* SEGUNDO CONTAINER */

.container-vagas-02 {
    width: 100%;
    height: 480px;
}

.segunda-sec {
    height: 480px;
    width: 70%;
    margin: 0 auto;
    margin-top: 40px;
}


.segunda-sec > ul {
    position: absolute;
    top: 420px;
}




/* SECTION DEPOIMENTO */

.depoimento {
    position: relative;
    height: 500px;
    width: 1216px;    
    background: #fdf8f8;
    margin: 0px auto;   
    margin-bottom: 96px; 
    border-radius: 20px;

}

.depoimento > h2{
    color: #8e2424;
    font-size: 0.9em;
    top: 80px;
    font-weight: 500;
    position: relative;

}

p.depoimentoJulia {
    font-size: 30px;
    position: relative;
    text-align: center;
    top: 120px;

}

.depoimento > img {
    height: 60px;
    width: 50px;
    border-radius: 30px;
    position: absolute;
    top: 320px;
    left: 580px;
}

p.Colaboradora {
    position: relative;
    top: 330px;
    font-weight: bold;
}

p.cargo {
    position: relative;
    text-align: center;
    top: 360px;
    color: #8b8d96;
}



/* TAG FOOTER */


.footer{
    width: 100%;
    height: 400px;
    background: #ececee; 
    
}

.container-footer{
    position: relative;
    margin: 0px auto;
    width: 60%;
    height: 400px;
}

.container-footer > h2, .container-footer > p {
    position: relative;
    text-align: center;
}

.container-footer > h2{
    font-size: 1.6em;
    font-weight: 500;
    top: 100px;
    
}

.container-footer > p{
    color: #6b6d75;
    top: 150px;
}

.input-email {
    width: 255px;
    height: 40px;
    top: 200px;
    border-radius: 8px;
    border: 1px solid black;
    padding: 5px 5px;
    display: inline-block;
    position: relative;
    left: 230px;
}

.botao-menu-footer {
    border-radius: 7px;
    width: 90px;
    cursor: pointer;
    font-size: 14px;
    border: none;
    height: 42px;
    position: absolute;
    top: 240px;
    left: 500px;
}

.botao-cadastrar:hover {
    background:#b84848;
    
}


#reservado {
    font-size: 14px;
    top: 270px;
}

