.section-courses__article-courses {

    width: 27.2rem;
    height: 30.6rem;
    border: 2px solid $black;
    box-shadow: .4rem .4rem 0 #000000;
    background-color: $orange;
    padding-top: 2.7rem;
    position: relative;
    transition: .2s;

    .article-courses__img {

        display: block;

    }

    .article-courses__label {

        font-weight: 900;
        font-size: 2.4rem;
        padding: 1.5rem 0;
        display: inline-block;
    }

    .article-courses__parag {

        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.8rem;
    }


    .article-courses__link {

        height: auto;
        display: inline-block;
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        
        
    }

    .article-courses__img, 
    .article-courses__label,
    .article-courses__parag {
        margin: 0 3.4rem
    }

}


.article-courses--pesonalizado {
    background-color: $light-orange;
    margin-left: 2.0rem;
}

.section-courses__article-courses:nth-child(1) {
    margin-top: -11.0rem;
}

.section-courses__article-courses:nth-child(2n):hover {
    transform:rotate(5deg);
}

.section-courses__article-courses:nth-child(2n-1):hover {
    transform:rotate(-5deg);
}
