:root {
    --amarelo: #FFEF6A;
    --cinza: #2C2C2C;
    --branco: #FFFFFF;
    --branco-amarelado: #FEF7E5;
    --largura-padrao: 80%;
}

body {
    background-color: var(--amarelo);
    font-family: 'Permanent Marker', cursive;
}