/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&family=Unbounded:wght@200;400;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background: rgb(139, 31, 248);
  background: linear-gradient(180deg, rgb(139, 31, 248) 0%, rgb(4, 24, 50) 50%, rgb(1, 8, 14) 100%);
  font-family: "Unbounded", sans-serif;
  color: #fff;
}

.main-header {
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-fokus__img {
  max-width: 156.36px;
  height: 4rem;
}

.section-container-banner {
  margin: 8rem 0;
  height: 405.55px;
  display: flex;
  justify-content: center;
  display: flex;
}

.section-container-banner__container-banner-title {
  width: 489px;
}

.container-banner-title__banner-title {
  font-size: 5.3rem;
  font-weight: 200;
  line-height: 80.55px;
}

.banner-title--strong {
  font-weight: 700;
  display: block;
  line-height: 79.5px;
}

.container-banner-img__img {
  height: 100%;
  max-width: 483.51px;
}

.container-app__container-pomodoro {
  background-color: rgba(20, 68, 128, 0.3);
  max-width: 58.8rem;
  margin: 0 auto;
  padding: 2.4rem;
  border-radius: 3.2rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border: 0.2rem solid rgb(20, 68, 128);
}

.container-pomodoro__container-availability-options {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.container-availability-options__button-availability-options {
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  border: 0.1rem solid transparent;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.button-availability-options--selected {
  font-weight: 600;
  background-color: rgb(20, 68, 128);
}

.container-pomodoro__time {
  font-size: 11.2rem;
  font-weight: 700;
  text-align: center;
}

.container-pomodoro__container-focus-music {
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

.container-focus-music__option-control {
  width: 6rem;
  height: 3.2rem;
  border-radius: 2.4rem;
  background-color: rgb(184, 114, 255);
  padding: 0.4rem 0.4rem 0.4rem 3.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option-control__control {
  height: 2rem;
  width: 2rem;
  background-color: #fff;
  border-radius: 100%;
}

.container-focus-music__label {
  font-size: 1.8rem;
  font-weight: 400;
}

.container-pomodoro__button-start {
  background: rgb(184, 114, 255);
  background: linear-gradient(180deg, rgb(184, 114, 255) 0%, rgb(20, 68, 128) 100%);
  border: none;
  border-radius: 3.2rem;
  width: 18rem;
  height: 4rem;
  font-weight: 600;
  font-size: 1.6rem;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 0 auto;
  cursor: pointer;
}

.button-start__icon {
  height: 2.4rem;
  width: 18.85px;
}

/*# sourceMappingURL=main.css.map */
