.navPrincipal__itens {

    border: 1px solid #989AA7;
    border-radius: 5px;
    color: #989AA7;
    margin-left: 10px;    
    padding: 10px;
    transition: .5s;    
    text-decoration: none;
}

.navPrincipal__itens:hover  {
    background-color: #989AA7;
    color: #fff;    
}

@media screen and (max-width:480px) {
    .navPrincipal__itens {

       margin-left: 0px;
       margin-bottom: 10px;
       border-radius: 0px;
       border: none;
       border-bottom: 1px solid;
       text-align: center;
       width: 100%;
        
    }

    .ativo {
        order: -1;
    }
}