@media screen and (max-width: 1150px) {



    .container-conteudo-principal__informacoes {



        .informacoes__img-titulo {

            height: 12.0rem;

        }

        .informacoes__resumo {

            font-size: 1.2rem;
        }


    }


}

@media screen and (max-width: 911px) {

    .conteudo-principal {

        height: 100%;
        margin: 1.5rem 0rem;


        .conteudo-principal__container-conteudo-principal {


            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 3.0rem;

        }

    }


    .container-conteudo-principal__informacoes {


        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;



        .informacoes__resumo {

            width: 65%;
        }

    }


    //arrumar a tela de fundo

    .wallpaper-site {


        height: 740px;


        .wallpaper-site__video {

            height: 740px;
        }


    }

    .wallpaper-site::after {


        height: 740px;

    }

    .container-cabecalho__navbar {

        width: 0vw;
        display: none;

    }

    .mostrar-navbar {
        position: absolute;
        left: 0;
        top: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(1, 1, 1, 0.952);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 39;


        .navbar__lista-nav {

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;


        }
    }

    .ponteiro-1 {
        transform: translate(0px, 5px) rotate(140deg);
    }

    .ponteiro-2 {
        display: none;
    }

    .ponteiro-3 {

        transform: translate(0px, -5px) rotate(225deg);
    }

    .navbar__container-menu {

        display: flex;
    }
}


@media screen and (max-width: 728px) {
    body {

        
        .trailer-video {


            .trailer-video__trailer {


                height: 300px;
                width: 500px;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    body {

        
        .trailer-video {


            .trailer-video__trailer {


                height: 200px;
                width: 450px;
            }
        }
    }
}

@media screen and (max-width: 410px) {
    body {

        
        .trailer-video {


            .trailer-video__trailer {


                height: 150px;
                width: 300px;
            }
        }
    }
}

@media screen and (max-width: 467px) {

    .container-conteudo-principal__img-personagens {

        min-width: 210px;
    }


    .container-conteudo-principal__informacoes {


        .informacoes__img-titulo {

            height: 7.0rem;

        }

    }

}