.container-cabecalho__navbar {


    .navbar__lista-nav {

        display: flex;
        align-items: center;
        gap: 2.5rem;
        height: 100%;

        .lista-nav__item-nav {

            font-size: 1.4rem;

            a {
                color: #FFF;
                transition: color .3s linear;
                font-weight: bold;

                &:hover {
                    color: rgb(131, 129, 129);
                }
            }
            
        }
    }

   
}

.navbar__container-menu {

    display: flex;
    flex-direction: column;
    gap: .5rem;
    cursor: pointer;
    z-index: 40;
    

    .container-menu__barra {

        width: 30px;
        height: 4px;
        border-radius: 1.5rem;
        background-color: #FFF;
        transition: background-color .3s linear;
        
    }


    &:hover .container-menu__barra{
        background-color: red;
    }
}

.navbar__container-menu {

    display: none;
}