body {
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
}

.conteudoPagina {
  display: flex;
  height: 100vh;
  width: 70%;
  margin: 0px auto;
  justify-content: space-around;
  align-items: center;
}

.conteudoPagina__containerImgTelefone {
  height: 564px;
  flex: 1;
  display: flex;
  justify-content: center;
}
.conteudoPagina__containerImgTelefone .containerImgTelefone__imgTelefone {
  background-image: url("../images/celular.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 500px;
}

.conteudoPagina__containerInsta {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.conteudoPagina__containerInsta .containerInsta__bloco {
  border: 1px solid transparent;
  width: 380px;
}

#containerInsta__containerLogin {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 13px;
  background-color: #FFFFFF;
  border-color: #d4c9cd;
}
#containerInsta__containerLogin .containerLogin__logoInstagram {
  display: inline-block;
  padding: 50px 0px 30px;
}
#containerInsta__containerLogin .containerLogin__formLogin {
  display: flex;
  flex-direction: column;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__usuario {
  margin-bottom: 8px;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__senha {
  margin-bottom: 15px;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__input {
  height: 35px;
  width: 300px;
  outline: 0;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__input::placeholder {
  background-color: #FAFAFA;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__botao {
  background-color: #B2DFFC;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
  padding: 8px 0px;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__containerSeparador {
  padding-top: 20px;
  display: flex;
  gap: 13px;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__containerSeparador .containerSeparador__divisoria {
  height: 1px;
  background-color: #b8b3b4;
  flex-shrink: 1;
  flex-grow: 1;
  -webkit-flex-grow: 1;
  position: relative;
  top: 6px;
}
#containerInsta__containerLogin .containerLogin__formLogin .formLogin__containerSeparador .containerSeparador__Separador {
  text-transform: uppercase;
  color: #a59ea0;
  text-align: center;
  font-size: 14px;
}
#containerInsta__containerLogin .containerLogin__loginFacebook {
  margin: 30px 0px 20px;
  display: flex;
  align-items: center;
}
#containerInsta__containerLogin .containerLogin__loginFacebook .loginFacebook__logoFacebook {
  height: 18px;
  padding-right: 6px;
}
#containerInsta__containerLogin .containerLogin__loginFacebook .loginFacebook__link {
  color: #465D8D;
  font-size: 15px;
}
#containerInsta__containerLogin .containerLogin__loginFacebook .loginFacebook__link:visited {
  color: #465D8D;
}
#containerInsta__containerLogin .containerLogin__linkRecupecaoSenha {
  margin-bottom: 25px;
  font-size: 13px;
  color: #465D8D;
}

#containerInsta__containerCadastro {
  background-color: #FFFFFF;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 25px 0px;
  border: 1px solid #d4c9c9;
}
#containerInsta__containerCadastro .containerCadastro__parag {
  margin-right: 5px;
  font-size: 15px;
  font-weight: 300;
}
#containerInsta__containerCadastro .containerCadastro__link {
  color: #0095F6;
  font-size: 15px;
}
#containerInsta__containerCadastro .containerCadastro__link .containerCadastro__link:visited {
  color: #0095F6;
}

.containerInsta__containerObtenhaApp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  font-weight: 300;
}
.containerInsta__containerObtenhaApp .containerObtenhaApp__parag {
  text-align: center;
  padding: 10px 0px 20px;
  font-size: 15px;
}
.containerInsta__containerObtenhaApp .containerObtenhaApp__containerApps {
  display: flex;
}
.containerInsta__containerObtenhaApp .containerObtenhaApp__containerApps .containerApps__appStore img, .containerInsta__containerObtenhaApp .containerObtenhaApp__containerApps .containerApps__googlePlay img {
  height: 40px;
}
.containerInsta__containerObtenhaApp .containerObtenhaApp__containerApps .containerApps__appStore img {
  margin-right: 7px;
}

.footerPrincipal {
  height: 100px;
  margin-top: 40px;
}
.footerPrincipal .footerPrincipal__containerFooter .containerFooter__menuFooter {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 13px;
}
.footerPrincipal .footerPrincipal__containerFooter .containerFooter__menuFooter .itensFooter__linkFooterMenu {
  color: #a59ea0;
}
.footerPrincipal .footerPrincipal__containerFooter .containerFooter__copyrightEIdioma {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 13px;
  margin-top: 20px;
}
.footerPrincipal .footerPrincipal__containerFooter .containerFooter__copyrightEIdioma .copyrightEIdioma__idioma {
  color: #a59ea0;
}

/*# sourceMappingURL=main.css.map */
