.lista-categorias__itens-categorias {
    border: 1px solid #cfcfcf;
    width: 49.5%;
    margin-top: 1px;
    display: flex;
    cursor: pointer;
}

.lista-categorias__itens-categorias:hover {
    box-shadow: 1px 1px #cfcfcf;
}


