$black: #1A1A1A;
$white: #E2E2E3;
$gray: #242424;
$purple: #484DA5;

body {
    font-family: 'Geologica', sans-serif;
    background-color: $gray;
}


.default-button {

    background-color: $black;
    color: $white;
    padding: 1.3rem 2.0rem;
    border: none;
    border: 2px solid transparent;
    border-radius: 1.0rem;
    cursor: pointer;
}


.selected-button {
    border-color: $purple;
}