.conteudo-principal__painel-escolher-plays {
    
    display: none;
    
}

.mostrar-conteudo-principal__painel-escolher-plays {
    position: absolute;
    width: 750px;
    height: 550px;
    z-index: 4;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 10px;
    overflow: hidden;
    color: $font-color-preto;
    flex-direction: column;

    

    .painel-escolher-plays__titulo {
        color: $font-color-branco;
        font-size: 2.0rem;
        text-transform: uppercase;
    }

    .container-personagem__escolha-player {

        label {
            display: block;
            margin-bottom: 15px;
        }

        input {
            height: 30px;
            padding: 10px 20px;
            width: 80%;
            font-size: 13px;
            font-family: 'Press Start 2P', cursive;
            border-radius: 5px;
            box-shadow: 5px 5px 10px #000;
            border: none;
        }
    }

    .painel-escolher-plays__menu-controle {
        display: flex;
        justify-content: space-around;
        width: 100%;
        color: white;

        .menu-controle__start {

            background-color: $botao-color-ataque;
            border: none;
            color: rgb(255, 255, 255);
            font-family: 'Press Start 2P', cursive;
            font-size: 1.0rem;

            &:hover {
                background-color: rgba(255, 0, 0, 0.538);
            }
        }

        .menu-controle__voltar {
            background-color: $botao-color-defesa;

            &:hover {
                background-color: rgb(0, 0, 255, 0.538);
            }
        }
    }

    .container-personagem__escolha-player input {
        outline: none;
        margin-bottom: 10px;
    }

    .painel-escolher-plays__alerta-preenchimento {
        
        display: none;

    }

    .mostrar-painel-escolher-plays__alerta-preenchimento {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0rem 1.4rem;
        border-radius: 1.0rem;
        height: 100px;
        z-index: 4;
        background-color: rgb(156, 41, 41);
        user-select: none;

        p {
            color: rgb(179, 179, 179);
        }

        .alerta-preenchimento__botao-fechar {
            position: absolute;
            right: 1.0rem;
            top: 1.0rem;
            font-size: 1.3rem;
            color: rgb(249, 249, 249);
            transition: transform .2s linear;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}