.main-footer {

    background-color: $dark-blue;
    height: 3.6rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;

    .main-footer__label {

        font-size: 1.3rem;
        color: white;

    }
}