body {
  background: url("https://static.vecteezy.com/ti/vetor-gratis/p1/8895733-problemas-na-comunicacao-conceito-mal-entendido-criar-confusao-no-trabalho-falha-comunicacao-mensagem-e-informacoes-homem-e-mulher-de-negocios-tem-problemas-com-com-entendendo-se-vetor.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Fredoka One", cursive;
}
body .wallpaper-shadow {
  background-color: rgba(0, 0, 0, 0.326);
  height: 100%;
  width: 100vw;
  position: absolute;
  z-index: -10;
}

.main-content {
  height: calc(100vh - 1.4rem);
}

.main-content__main-section {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-section__container {
  display: flex;
  flex-direction: column;
  height: 200px;
  width: 200px;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  background-color: rgba(102, 24, 174, 0.745);
  border-radius: 2.3rem;
  box-shadow: 0px 0px 50px rgba(26, 25, 26, 0.986);
  margin: 0 1rem;
}
.main-section__container .container__input {
  padding: 0.5rem 1.5rem;
  outline: none;
  text-align: center;
}
.main-section__container .container__button {
  cursor: pointer;
  text-transform: uppercase;
  transition: 0.3s;
}
.main-section__container .container__button:hover {
  background-color: #CCC;
}
.main-section__container .container__input,
.main-section__container .container__button {
  height: 2.5rem;
  width: 15rem;
  border: none;
  border-radius: 1rem;
}

.hide-content {
  display: none;
}

.main-content__section-alerts {
  position: absolute;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  top: 0rem;
  left: 0rem;
}
.main-content__section-alerts .section-alerts__container-alert {
  background-color: #8100f9;
  border-radius: 50%;
  height: 80px;
  width: 500px;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  user-select: none;
}
.main-content__section-alerts .section-alerts__container-alert .alert__label {
  font-size: 3rem;
  text-transform: uppercase;
  color: #FFF;
}
.main-content__section-alerts .section-alerts__container-alert .container-alert__button-close {
  height: 20px;
  width: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  cursor: pointer;
  display: flex;
  justify-content: center;
  top: 20px;
  right: 40px;
}
.main-content__section-alerts .section-alerts__container-alert .container-alert__button-close .button-close__line {
  height: 0.3rem;
  width: 100%;
  position: absolute;
  background-color: #FFF;
  display: flex;
  border-radius: 1.5rem;
  transition: 0.4s;
}
.main-content__section-alerts .section-alerts__container-alert .container-alert__button-close .button-close__line:nth-child(1) {
  transform: rotate(-130deg);
}
.main-content__section-alerts .section-alerts__container-alert .container-alert__button-close .button-close__line:nth-child(2) {
  transform: rotate(130deg);
}
.main-content__section-alerts .section-alerts__container-alert .container-alert__button-close:hover .button-close__line {
  background-color: aqua;
}
.main-content__section-alerts .section-alerts__container-alert .alert__label--font-size {
  font-size: 1.3rem;
}
.main-content__section-alerts .section-alerts__container-alert .alert__label--sapce {
  margin-bottom: 0.5rem;
}
.main-content__section-alerts .section-alerts__container-alert .container-alert__container-not-palindromo {
  display: flex;
  flex-direction: column;
}
.main-content__section-alerts .hide-content {
  display: none;
}

.hide-content {
  display: none;
}

@media screen and (max-width: 518px) {
  .main-content__section-alerts .section-alerts__container-alert {
    width: 400px;
  }
  .main-content__section-alerts .section-alerts__container-alert .alert__label {
    font-size: 1rem;
  }
}
@media screen and (max-width: 416px) {
  .main-content__section-alerts .section-alerts__container-alert {
    width: 300px;
  }
  .main-content__section-alerts .section-alerts__container-alert .alert__label {
    font-size: 0.8rem;
  }
  .main-content__section-alerts .section-alerts__container-alert .container-alert__button-close {
    width: 1rem;
  }
}
@media screen and (max-width: 314px) {
  .main-content__section-alerts .section-alerts__container-alert {
    width: 230px;
  }
}
.footer {
  height: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .footer__label {
  font-size: 0.8rem;
}

/*# sourceMappingURL=main.css.map */
