.operations-container__operations-menu {

    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2.0rem;

    .operations-menu__functions {

        height: 11.0rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        user-select: none;

        .functions__button {

            border-radius: 50%;
            width: 9.0rem;
            height: 9.0rem;
            border: 1px solid $roxo;
            cursor: pointer;
            background-color: #DFDFDF;
            transition: .3s;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                height: 60%;
            }

            &:hover {
                background-color: #f5f4f4;

            }

        }

        .functions__label {

            text-align: center;
            font-size: 1.2rem;
            font-weight: 100;
            margin-top: .5rem;
        }
    }
}

.hiden-content {
    display: none;
}