.operations-container__values-container {


    width: 100%;
    height: 12.0rem;
    display: flex;
    justify-content: center;



    .values-container__balance-available, .values-container__applied-value {

        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: .1rem solid $roxo;

    }

    .values-container__applied-value {
        border-left: .1rem solid $roxo;
    }

    .applied-value__label, .balance-available__label {

        font-weight: 300;
        font-size: 1.5rem;
        margin-bottom: 2.0rem;
    }

    .applied-value__value, .balance-available__value {

        color: #9f9f9f;
        font-weight: 300;
        font-size: 1.2rem;

        span {

            color: black;
            font-size: 3.0rem;
            font-weight: 100;
            margin-left: 1.0rem;

        }
    }
}