.main-footer {
  height: 6rem;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__paragraphy {
  text-align: center;
  font-size: 1.5rem;
}

.paragraphy__link {
  color: #fff;
}

.paragraphy__link:active {
  color: red;
}
