body {
  background: rgb(1, 8, 14);
  background: linear-gradient(
    180deg,
    rgba(1, 8, 14, 1) 0%,
    rgba(4, 24, 50, 1) 50%,
    rgba(1, 8, 14, 1) 100%
  );
  background-repeat: no-repeat;
}
