.conteudo-principal {
    background-color: rgba(0, 0, 0, 0.499);
    height: calc(100vh - 4.0rem);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    .conteudo-principal__efeito-sonoro {
        position: absolute;
        right: 1.0rem;
        top: 1.0rem;
    }

    .conteudo-principal__botao {
        background-color: #F00;
        padding: 2.5rem 3.0rem;
        text-transform: uppercase;
        border-radius: 0.5rem;
        box-shadow: 1.0rem 1.0rem 1.0rem #000;
        cursor: pointer;
        transition: transform .4s ease-in-out;
        user-select: none;
        position: absolute;
        margin: 0rem 1.5rem;
        display: block;

        &:hover {
            transform: scale(1.2);
        }

    }

    .conteudo-principal__container-conteudo-principal {
        display: none;
        
    }

    .mostrar-conteudo-principal__container-conteudo-principal {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0rem 0rem 2.0rem 0rem;

        .container-conteudo-principal__container-cabecalho {
            display: flex;
            justify-content: center;
            position: relative;
            width: 100%;

            .container-conteudo-principal__botao-voltar {
                position: absolute;
                right: 20px;
                top: 20px;
                text-transform: uppercase;
                font-size: 1.5rem;
                cursor: pointer;
                transition: transform .2s linear;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    
        .container-conteudo-principal__titulo {
            text-align: center;
            margin: 1.5rem;
            text-transform: uppercase;
            font-size: 2.0rem;
        }

        .container-conteudo-principal__alerta-vitoria {
            
            display: none;
            
        }

        .mostrar-container-conteudo-principal__alerta-vitoria {
            position: absolute;
            z-index: 6;

            .alerta-vitoria {
                background-color: transparent;
                height: 8.0rem;
                display: flex;
                align-items: center;
                padding: 0rem 1.5rem;
                border-radius: 1.5rem;

                p {
                    text-transform: uppercase;
                }
            }

            .alerta-vitoria__player-ataque {
                background-color: #F00;
                display: none;
            }

            .mostrar-alerta-vitoria__player-ataque {
                background-color: #F00;
                display: flex;
            }

            .alerta-vitoria__player-defesa {
                background-color: #00F;
                display: none;
            }

            .mostrar-alerta-vitoria__player-defesa {
                background-color: #00F;
                display: flex;
            }
        }

        .container-conteudo-principal__alerta-elixir {
            display: none;
        }

        .mostrar-container-conteudo-principal__alerta-elixir {
            position: absolute;
            z-index: 6;
            background-color: rgb(5, 142, 37);
            text-transform: uppercase;
            padding: 1.0rem 1.5rem;
            height: 8.0rem;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 1.5rem;

            .alerta-elixir__botao-fechar {
                position: absolute;
                right: 1.5rem;
                top: 1.5rem;
                cursor: pointer;
                transition: transform .2s linear;

                &:hover {
                    transform: scale(1.2);
                }
            }
        }
    }

    .conteudo-principal__caixa-inf {

        width: 300px;
        height: 100px;
        position: absolute;
        right: 0rem;
        bottom: 0rem;
        display: flex;

        .icon-informacao {
            position: absolute;
            right: 3.0rem;
            bottom: 3.5rem;
            font-size: 3.0rem;
            cursor: pointer;
            transition: color .3s linear;

            &:hover {

                color: rgb(100, 99, 99);

                
            }

        }

            
        

        

        .fa-sharp{

            color: white;

        }



        .caixa-inf__parag {
            
            display: none;
           
        }

        .mostrar-caixa-inf__parag {
            background-color: rgb(41, 40, 40);
            padding: 1.0rem;
            position: absolute;
            right: 7.0rem;
            bottom: 3.5rem;
            border-radius: 1.5rem;
            display: block;
        }

        
    
        
    }


}