.form {

    width: 112.1rem;
    margin: 0 auto;
    margin-top: 8.0rem;
    background-color: #F6F6F6;
    border-radius: 2.0rem;
    padding: 5.0rem 7.0rem;
    box-shadow: 0 .4rem .4rem 0 rgba(0, 0, 0, 0.247);

}


.form__title {

    font-size: 3.2rem;
    font-weight: 400;
    margin-bottom: 6.0rem;
    font-family: $title-default;
}