.container-main-content__cart-section {
  flex: 1;
  padding-left: 200px;
}

.cart-section__cart-section-icon {
  width: 15rem;
  margin-bottom: 3rem;
}

.container-cart__shopping-cart-title-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 4rem;
}

.shopping-cart-title-container__icon {
  width: 30px;
}

.shopping-cart-title-container__title,
.shopping-list-item--color,
.final-payment-amount-label--color {
  color: #1875e8;
}

.shopping-cart-title-container__title {
  font-size: 3rem;
  font-weight: bold;
}

.container-cart__shopping-list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-height: 12.5rem;
  overflow: scroll;
  scrollbar-width: thin;   
  max-width: 30.0rem;
  scrollbar-color: #1875e8 transparent;
}

.container-cart__shopping-list::-webkit-scrollbar-thumb  {
  background-color: #1875e8;  
  border-radius: 20px;      
  border: 3px solid transparent;

}

.shopping-list__shopping-list-item {
  font-size: 2rem;
  font-style: italic;
}

.cart-section__final-payment-amount-container {
  margin-top: 2.5rem;
  border-top: 0.1rem solid #000;
  padding-top: 2.5rem;
  width: 100%;
  max-width: 323px;
  min-width: 256px;
}

.final-payment-amount-container__final-payment-amount-label {
  font-size: 3.5rem;
  font-weight: bold;
}

@media (max-width: 1028px) {
  .container-main-content__cart-section {
    padding-left: 0;
    margin-top: 8rem;
  }
}

@media (max-width: 493px) {
  .shopping-cart-title-container__title {
    font-size: 2rem;
  }

  .final-payment-amount-container__final-payment-amount-label {
    font-size: 2.5rem;
  }
}
