$marron: rgb(143, 118, 87);
$branco: rgb(255, 255, 255);

body {
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-areas:
        "cabecalho"
        "conteudo-principal"
        "rodape";
}

.input-padrao {

    width: 100%;
    height: 30px;
    outline: none;
    padding: 1.0rem 2.0rem;
    text-transform: uppercase;
}

.botao-padrao {
    border: none;
    width: 30%;
    height: 3.0rem;
    cursor: pointer;
    margin: 0rem auto;
    border-radius: .5rem;
    text-transform: uppercase;
    margin-top: 1.7rem;
    background-color: rgb(113, 88, 88);
    color: white;
    font-weight: bold;
    transition: background-color .2s linear;

    &:hover {
        background-color: rgba(113, 88, 88, 0.873);
    }
}