.caixas__conteudos {
    width: 19%;
    background-color: var(--branco);
   display: grid;
   grid-template-areas: 
   "card-img"
   "card-conteudo";
   grid-template-columns: 100%;
   grid-template-rows: 140px auto;
}