body {
  background: url("../../images/quadro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Pangolin", cursive;
}

.container-shaded {
  background-color: rgba(0, 0, 0, 0.4823529412);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.main-content {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 100vh;
  flex-wrap: wrap;
}

.main-content__container-main-content {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-content__header .header__title {
  font-size: 5rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-top: 1.5rem;
  color: #FFF;
}

.container-main-content__section-multiplication-table {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.container-main-content__section-multiplication-table .section-multiplication-table__button {
  padding: 1.5rem;
  cursor: pointer;
  color: #FFF;
  font-size: 8rem;
  transition: all 0.3s;
  position: relative;
}
.container-main-content__section-multiplication-table .section-multiplication-table__button:nth-child(1):hover {
  transform: translateX(-10px);
}
.container-main-content__section-multiplication-table .section-multiplication-table__button:nth-child(3):hover {
  transform: translateX(10px);
}

.section-multiplication-table__container-multiplication-table {
  height: 80%;
  width: 60%;
  margin: 3.5rem 0px;
  overflow: hidden;
}
.section-multiplication-table__container-multiplication-table .container-multiplication-table__sliders {
  width: 1184px;
  height: 100%;
  display: flex;
  position: relative;
  transition: 1s;
}
.section-multiplication-table__container-multiplication-table .arrow-right {
  transform: translateX(-592px);
}
.section-multiplication-table__container-multiplication-table .arrow-left {
  transform: translateX(0px);
}

.sliders__slider {
  height: 100%;
  width: 592px;
}
.sliders__slider .slider__title {
  font-size: 4.5rem;
  color: #FFF;
  text-align: center;
  margin: 1.5rem 0rem;
}
.sliders__slider .slider__slider-list {
  width: 245px;
  margin: 3rem auto;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.sliders__slider .slider__slider-list .slider-list__items {
  font-size: 2.5rem;
  color: #FFF;
}

.main-content__container-input {
  background-color: rgba(255, 0, 0, 0.245);
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.main-content__container-input .container-input__input {
  height: 40px;
  border-radius: 2rem;
  border: none;
  outline: none;
  text-align: center;
  width: 200px;
  font-size: 1.5rem;
  caret-color: rgba(255, 0, 0, 0.245);
}
.main-content__container-input .container-input__button {
  border: none;
  height: 4rem;
  width: 100px;
  border-radius: 1.5rem;
  cursor: pointer;
  transition: 0.2s;
  font-weight: bold;
}
.main-content__container-input .container-input__button:hover {
  background-color: rgba(255, 0, 0, 0.245);
  color: #FFF;
}

.container-alerts {
  background-color: rgba(0, 0, 0, 0.612);
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-alerts .container-alerts__invalid-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(155, 36, 36, 0.993);
  height: 100px;
  width: 300px;
  position: relative;
  border-radius: 1.5rem;
}
.container-alerts .container-alerts__invalid-input .invalid-input__label {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: bold;
}
.container-alerts .container-alerts__invalid-input .invalid-input__button {
  cursor: pointer;
  border: none;
  height: 30px;
  width: 35px;
  position: absolute;
  bottom: 10px;
  right: 10px;
  border-radius: 1rem;
}
.container-alerts .hide-content {
  display: none;
}

.hide-content {
  display: none;
}

/*# sourceMappingURL=main.css.map */
