.container-appointments__date {
  font-weight: 700;
  font-size: 1.6rem;
  color: $gray;
  width: 100%;
  margin-bottom: 1.5rem;
}

.section-scheduled-appointments__container-appointments {
  align-content: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
}

.container-appointments__container-slider {
  height: 100%;
}

.container-slider__sliders {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-content: center;
}

.container-appointments__appointment-information {
  background-color: $primary-color;
  padding: 2rem 0 0.5rem 0;
  border-radius: 0.8rem;
  min-width: 32.8rem;
  min-height: 17rem;
  position: relative;
  width: 32.8rem;
}

.appointment-information__container-patient {
  display: flex;
  border-bottom: 1px solid $secundary-color;
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.container-patient__img {
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 100%;
  margin-right: 1.5rem;
  margin-left: 3.2rem;
}

.container-patient__patient {
  display: flex;
  flex-direction: column;
}

.patient__name {
  color: $gray;
  font-weight: 700;
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.patient__query-modality {
  color: $light-gray;
  font-weight: 400;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}

.query-modality__icon {
  width: 1.6rem;
  height: 1.3rem;
  margin-right: 0.3rem;
}

.container-patient__container-icon {
  background-color: $message-field-bg;
  height: 3.2rem;
  width: 3.2rem;
  display: flex;
  border-radius: 100%;
  margin-right: 3.2rem;
  position: absolute;
  right: 0;
}

.container-icon__icon {
  color: $quaternary-color;
  height: 1.3rem;
  width: 1.3rem;
  margin-left: 1rem;
  margin-top: 1rem;
}

.appointment-information__container-hour {
  padding: 0 3.2rem;
}

.container-hour__hour {
  color: $gray;
  font-size: 1.3rem;
  font-weight: 500;
}

.container-hour__query-modality {
  display: flex;
  gap: 1.5rem;
  margin-top: 1.5rem;
}

.query-modality__video {
  background-color: $tertiary-color;
  color: $primary-color;
}

.query-modality__audio {
  color: $gray;
  background-color: transparent;
  border: 0.1rem solid $secundary-color;
}

@media (min-width: 700px) {
  .section-scheduled-appointments__container-appointments {
    height: 60rem;
  }

  .container-appointments__container-slider {
    width: 700px;
    margin: 0 auto;
    overflow-x: auto;
    scroll-behavior: smooth;
  }

  .container-slider__sliders {
    height: 100%;
    align-content: flex-start;
    width: 9999px;
  }
}

@media (min-width: 1062px) {
  .container-appointments__container-slider {
    max-width: 1062px;
    width: 100%;
    margin: 0 0;
  }
}
