.formulario__input-form {
    border: none;
    height: 40px;
    padding: 5px 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: var(--branco);
    outline: none;
}

.formulario__input-form::placeholder {
    color: var(--titulo-form);
    font-weight: normal;
}

.formulario__input-form--borda {
    border: 1px solid #AAAAAA;
    border-radius: 2px;
    font-weight: normal;
}