.bloco-apresentacao__img-apresentacao {
    background-image: url("https://d335luupugsy2.cloudfront.net/cms/files/45279/1549910747/%24s8wt5gjksqp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 360px;
    

}