/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Stick+No+Bills:wght@200;300;400;500;600;700;800&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

select {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.bg-img {
  background: url("../../../../../public/Bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 120rem;
  width: 100%;
  margin: 0 auto;
}

.content-standard {
  padding: 8rem 0;
  font-family: "Poppins", sans-serif;
}

.content-standard__title,
.content-standard__label {
  text-align: center;
}

.content-standard__title {
  font-weight: 700;
  font-size: 4.2rem;
  margin-bottom: 8rem;
}

.content-standard__label {
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.main-header {
  display: flex;
  justify-content: start;
  padding: 4rem 4rem 4rem 0;
}

.main-header__container-main-header {
  display: flex;
  justify-content: space-around;
}

.container-main-header__logo {
  height: 4.5rem;
  width: 16.2rem;
}

.container-main-header__main-navbar {
  display: flex;
  align-items: center;
  position: relative;
}

.main-navbar__main-navbar-link-list {
  display: flex;
  gap: 2.5rem;
}

.main-navbar-link-list-item__link {
  color: #000;
  font-size: 1.5rem;
  font-weight: 600;
  position: relative;
}

.main-navbar-link-list__main-navbar-link-list-item:nth-child(1),
.main-navbar-link-list__main-navbar-link-list-item:nth-child(2),
.main-navbar-link-list__main-navbar-link-list-item:nth-child(3) {
  margin-right: 2rem;
}

.main-navbar-link-list__main-navbar-link-list-item:nth-child(1) .main-navbar-link-list-item__link::after,
.main-navbar-link-list__main-navbar-link-list-item:nth-child(2) .main-navbar-link-list-item__link::after,
.main-navbar-link-list__main-navbar-link-list-item:nth-child(3) .main-navbar-link-list-item__link::after {
  content: "";
  position: absolute;
  background: url("../../../../../public/Group 526.png");
  background-repeat: no-repeat;
  background-size: contain;
  height: 0.6rem;
  width: 1rem;
  top: 45%;
  margin-left: 0.5rem;
}

.main-header__button {
  width: 15.9rem;
  height: 5rem;
}

.container-main-header__menu-hamburguer {
  display: none;
}

@media (max-width: 1000px) {
  .main-header {
    padding: 4rem 2rem;
  }
  .container-main-header__menu-hamburguer {
    display: block;
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 3rem;
  }
  .menu-hamburguer__icon {
    height: 100%;
    width: 100%;
  }
  .container-main-header__main-navbar {
    display: none;
  }
  .main-header__button {
    display: none;
  }
  .main-header__container-main-header {
    justify-content: space-between;
  }
}
.banner {
  padding-bottom: 10rem;
  position: relative;
}

.banner__container-banner {
  display: flex;
  align-items: center;
  position: relative;
}

.container-banner__container-img {
  flex: 1;
}

.container-img__img-banner {
  max-width: 67rem;
}

.container-banner__container-company-presentation {
  flex: 1;
}

.container-company-presentation__title {
  font-size: 8rem;
  line-height: 8.5rem;
  font-family: "Stick No Bills", sans-serif;
  font-weight: 800;
}

.container-company-presentation__paragraphy {
  font-family: "Nunito Sans", sans-serif;
  color: rgb(84, 84, 84);
  font-size: 1.8rem;
  line-height: 2.6rem;
  width: 100%;
  max-width: 500px;
  margin: 2rem 0 4rem 0;
}

.container-company-presentation__button {
  width: 21.5rem;
  height: 5.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-company-presentation__button img {
  height: 2.5rem;
  width: 2.4rem;
  margin-left: 0.5rem;
}

.banner__contacts-list {
  position: absolute;
  display: flex;
  bottom: 2rem;
  right: 30rem;
  gap: 1.5rem;
}

.contacts-list-item__contacts-list-link {
  background-color: #000;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  display: flex;
  position: relative;
}
.contacts-list-item__contacts-list-link:hover {
  animation: toFloat 0.8s alternate infinite;
}

.contacts-list-link__icon {
  width: 100%;
}

.contacts-list__contacts-list-item:nth-child(1) .contacts-list-item__contacts-list-link::before,
.contacts-list__contacts-list-item:nth-child(2) .contacts-list-item__contacts-list-link::before,
.contacts-list__contacts-list-item:nth-child(3) .contacts-list-item__contacts-list-link::before,
.contacts-list__contacts-list-item:nth-child(4) .contacts-list-item__contacts-list-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("../../../../../public/Icon.png") no-repeat;
  background-position: center;
}

.contacts-list__contacts-list-item:nth-child(2) .contacts-list-item__contacts-list-link::before {
  background: url("../../../../../public/Vector3.png") no-repeat;
  background-position: center;
}

.contacts-list__contacts-list-item:nth-child(3) .contacts-list-item__contacts-list-link::before {
  background: url("../../../../../public/Vector(1).png") no-repeat;
  background-position: center;
}

.contacts-list__contacts-list-item:nth-child(4) .contacts-list-item__contacts-list-link::before {
  background: url("../../../../../public/Icon(1).png") no-repeat;
  background-position: center;
}

@keyframes toFloat {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}
@media (max-width: 1000px) {
  .banner {
    padding: 0 2rem;
    padding-bottom: 8rem;
  }
  .container-banner__container-img {
    display: none;
  }
  .banner__contacts-list {
    left: 2rem;
  }
}
.our-service-seciton {
  background: url("../../../../../public/Bg-our-services.png") no-repeat;
  background-size: contain;
}

.container-our-service-seciton__label {
  text-transform: uppercase;
}

.container-our-service-seciton__title {
  text-transform: uppercase;
}

.services-container__services-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.services-list__item-services-list {
  border: 0.2rem solid rgb(249, 218, 105);
  width: 37rem;
  height: 17.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #fff;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.262745098);
  transition: background-color 0.3s;
}
.services-list__item-services-list:hover {
  background-color: rgb(249, 218, 105);
}

.item-services-list__container-img {
  width: 6.1rem;
  height: 6.1rem;
  border-radius: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5450980392);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img__img {
  width: 2.4rem;
}

.inf-container__title {
  font-weight: 600;
  font-size: 2.6rem;
  margin-bottom: 2rem;
}

.inf-container__label {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: rgb(84, 84, 84);
}

.workds-seciton {
  background-color: rgb(254, 252, 242);
}

.container-workds-seciton-seciton__container-our-best-projects {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.container-our-best-projects__our-best-projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3.4rem;
  justify-content: space-around;
}

.our-best-projects-list__our-best-projects-list-item {
  height: 49.7rem;
  width: 100%;
  max-width: 36.9rem;
  border-radius: 1.2rem;
  overflow: hidden;
  position: relative;
}

.our-best-projects-list__our-best-projects-list-item:nth-child(1) {
  background: url("../../../../../public/Add your image here.png") no-repeat;
}

.our-best-projects-list__our-best-projects-list-item:nth-child(2) {
  background: url("../../../../../public/Add your image here(1).png") no-repeat;
}

.our-best-projects-list__our-best-projects-list-item:nth-child(3) {
  background: url("../../../../../public/Add your image here(2).png") no-repeat;
}

.container-our-best-projects__container-scroll {
  display: flex;
  gap: 0.8rem;
  margin-left: 35rem;
}

.container-scroll__item {
  width: 2rem;
  height: 1.2rem;
  background-color: rgb(249, 218, 105);
  opacity: 40%;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
.container-scroll__item:hover {
  background-color: rgb(249, 218, 105);
  opacity: 100%;
}

.container-scroll__item--selected {
  width: 5rem;
  border-radius: 2rem;
  background-color: rgb(255, 200, 0);
  opacity: 1;
}

.our-best-projects-list-item__container-project {
  background-color: rgb(249, 218, 105);
  border-radius: 1.2rem;
  opacity: 90%;
  height: 38.7rem;
  width: 100%;
  max-width: 34.1rem;
  position: absolute;
  top: 80px;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  transition: all 0.4s linear;
}

.our-best-projects-list-item__container-project--width {
  width: 0;
  padding: 0;
}

.container-project__container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 28.1rem;
  margin: 3rem;
}

.container-project__container-img {
  border: 0.5rem solid #fff;
  background-color: rgb(183, 245, 232);
  height: 7.8rem;
  width: 100%;
  max-width: 7.8rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-img__project-img {
  width: 4.4rem;
}

.container-project__title {
  font-family: "Poppins", sans-serif;
  font-size: 2.4rem;
  font-weight: 700;
}

.container-project__paragraphy,
.container-project__link {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1.8rem;
}

.container-project__paragraphy {
  font-weight: 400;
  line-height: 2.6rem;
  color: rgb(84, 84, 84);
}

.container-project__link {
  font-weight: 600;
  color: #000;
  position: relative;
}

.container-project__link::after {
  content: "";
  background: url("../../../../../public/Vector 190.png") no-repeat;
  width: 1.9rem;
  height: 1rem;
  background-size: contain;
  position: absolute;
  top: 20%;
  margin-left: 0.5rem;
}

@media (max-width: 1000px) {
  .container-our-best-projects__container-scroll {
    margin: 0 auto;
  }
}
.princing-plans-section {
  background: url("../../../../../public/wallpaper-pricing-plans.png") no-repeat;
  background-size: cover;
}

.container-princing-plans-section__container-plans {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-around;
  margin: 0 2rem;
}

.container-plans__plan {
  border: 0.2rem solid #000;
  width: 100%;
  max-width: 37rem;
  height: 55.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.plan__title {
  font-size: 2.4rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: rgb(251, 231, 155);
  border-radius: 0.2rem 0.4rem 0.4rem 0.4rem;
  padding: 2rem 4rem;
}

.plan__label {
  color: rgb(84, 84, 84);
  font-size: 1.6rem;
  font-weight: 400;
  text-align: center;
  margin: 4rem 0;
}

.plan__price {
  font-size: 1.8rem;
  font-weight: 400;
  color: rgb(84, 84, 84);
  position: relative;
  padding: 0 0 0 1.5rem;
}

.plan__price--size {
  font-weight: 700;
  font-size: 4.5rem;
  padding: 0 0.5rem 0 0.5rem;
  color: #000;
}

.plan__price--position {
  position: absolute;
  left: 0;
}

.plan__label-buy {
  background-color: rgb(0, 7, 17);
  color: rgb(249, 218, 105);
  font-size: 1.8rem;
  font-weight: 600;
  padding: 2rem 0;
  margin: 4rem 0;
  width: 100%;
  text-align: center;
}

.plan__list-of-benefits {
  display: flex;
  flex-direction: column;
  gap: 2.3rem;
}

.list-of-benefits__items {
  color: rgb(84, 84, 84);
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
  position: relative;
}

.items__img-price {
  width: 1.6rem;
  height: 1rem;
  margin-right: 1.5rem;
}

.container-plans__plan:nth-child(1) {
  border-radius: 3rem 0.4rem 3rem 0.4rem;
}

.container-plans__plan:nth-child(2) {
  border-radius: 3rem;
  background-color: #000;
}

.container-plans__plan:nth-child(2) .plan__label-buy {
  background-color: rgb(249, 218, 105);
  color: #000;
}

.container-plans__plan:nth-child(2) .plan__price--size {
  color: rgb(249, 218, 105);
}

.container-plans__plan:nth-child(2) .plan__label {
  color: rgb(224, 223, 224);
}

.container-plans__plan:nth-child(2) .plan__title {
  color: rgb(255, 255, 255);
  background-color: rgb(249, 218, 105);
}

.container-plans__plan:nth-child(2) .list-of-benefits__items,
.container-plans__plan:nth-child(2) .plan__price {
  color: #fff;
}

.container-plans__plan:nth-child(3) {
  border-radius: 0.4rem 3rem 0.4rem 3rem;
}

@media (max-width: 1000px) {
  .princing-plans-section {
    background: none;
    background-color: #FEF9E7;
  }
}
.about-us-section {
  background: url("../../../../../public/Bg-about-us.png") no-repeat;
  background-size: cover;
}

.about-us-section_container-about-us-section {
  display: flex;
  align-items: center;
  gap: 4.5rem;
}

.container-about-us-section__img {
  max-width: 67.2rem;
  height: 83rem;
  flex: 1;
  margin: 0 0 0 4rem;
}

.container-about-us-section__container-additional-information {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
  margin: 0 4rem 0 0;
}

.container-about-us-section__label {
  text-transform: uppercase;
}

.container-about-us-section__title {
  text-align: start;
  line-height: 6.3rem;
  margin-bottom: 4rem;
}

.container-about-us-section__paragraphy {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2.7rem;
  font-family: "Nunito Sans", sans-serif;
  color: rgb(84, 84, 84);
}

.container-about-us-section__list-of-statistics {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 3rem;
}

.container-about-us-section__button {
  background-color: #000;
  color: #fff;
  border-radius: 0.4rem;
  border: none;
  margin-top: 4rem;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 2rem 4rem;
  cursor: pointer;
}

@media (max-width: 1000px) {
  .container-about-us-section__img {
    display: none;
  }
  .about-us-section {
    padding: 0 4rem;
  }
}
@media (max-width: 630px) {
  .container-about-us-section__container-additional-information > h2 {
    font-size: 3.5rem;
  }
}
.our-blog-news-section {
  background: url("../../../../../public/BG-our-blog-news.png") no-repeat;
  background-size: cover;
  padding-top: 5rem;
  padding-bottom: 20rem;
}

.our-blog-news-section_container-our-blog-news-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.container-our-blog-news-section__label {
  text-transform: uppercase;
}

.container-our-blog-news-section__container-news {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem;
}

.container-news__article {
  height: 48.2rem;
  width: 100%;
  max-width: 37rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-news__article:nth-child(1),
.container-news__article:nth-child(3) {
  border-radius: 3rem 0 3rem 0;
}

.container-news__article:nth-child(1) .article__header {
  background: url("../../../../../public/Rectangle 22835.png") no-repeat;
}

.container-news__article:nth-child(2) {
  border-radius: 3rem;
  border: 0.2rem solid rgb(0, 7, 17);
}
.container-news__article:nth-child(2) .article__header {
  background: url("../../../../../public/Rectangle 22835-2.png") no-repeat;
}
.container-news__article:nth-child(2) .article__main-content-article {
  background-color: rgb(249, 218, 105);
  color: #000;
}
.container-news__article:nth-child(2) .main-content-article__inf-article {
  color: rgb(84, 84, 84);
}
.container-news__article:nth-child(2) .main-content-article__link-leran-more {
  color: #000;
}

.container-news__article:nth-child(3) .article__header {
  background: url("../../../../../public/Rectangle 22835-1.png") no-repeat;
}

.article__header {
  flex: 1;
  background-size: cover;
}

.article__main-content-article {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #000;
  color: #fff;
  padding: 4rem 2rem;
}

.main-content-article__inf-article,
.main-content-article__link-leran-more {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
}

.main-content-article__inf-article {
  display: flex;
  justify-content: space-between;
}

.inf-article__item {
  font-size: 1.4rem;
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.inf-article__item:nth-child(1) img {
  height: 1.4rem;
  width: 1.2rem;
}

.inf-article__item:nth-child(2) img {
  height: 1.4rem;
  width: 1.5rem;
}

.main-content-article__paragraphy {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.2rem;
  line-height: 3.3rem;
}

.main-content-article__link-leran-more {
  color: #fff;
  font-size: 1.8rem;
  display: flex;
  align-items: center;
}

.main-content-article__link-leran-more img {
  height: 2.4rem;
  width: 2.4rem;
}

@media (max-width: 1250px) {
  .our-blog-news-section {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
@media (max-width: 620px) {
  .our-blog-news-section_container-our-blog-news-section > .container-our-blog-news-section__title {
    font-size: 3rem;
  }
}
.main-footer {
  font-family: "Poppins", sans-serif;
  background-color: rgb(0, 7, 17);
  color: #fff;
  padding-top: 20rem;
}

.main-footer__container-main-footer {
  position: relative;
}

.container-main-footer__banner-footer {
  background-color: rgb(249, 218, 105);
  max-width: 1170px;
  height: 23.1rem;
  width: 100%;
  border-radius: 1rem;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -32rem;
}

.banner-footer__container-img {
  width: 100%;
  max-width: 10.8rem;
  height: 10.8rem;
  border-radius: 100%;
  background-color: #000;
  border: 0.9rem solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem;
  position: absolute;
  top: -6rem;
}

.banner-footer__container-img img {
  width: 6rem;
}

.banner-footer__paragraphy {
  font-size: 4.2rem;
  font-weight: 700;
  text-align: center;
}

.container-main-footer__container-footer-additional-inf {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.container-footer-additional-inf-item__title,
.container-footer-additional-inf-item__catchphrase {
  font-weight: 600;
}

.container-footer-additional-inf-item__title {
  font-size: 2.5rem;
  line-height: 3.6rem;
  margin-bottom: 3rem;
}

.title__img-logo-footer {
  width: 18.1rem;
  height: 4.5rem;
}

.container-footer-additional-inf-item__catchphrase {
  font-size: 2rem;
  line-height: 3.2rem;
  margin-bottom: 3rem;
  display: inline-block;
}

.container-footer-additional-inf-item__text {
  font-size: 1.6rem;
  font-weight: 200;
  line-height: 2.7rem;
}

.container-footer-additional-inf-item__text--font-family {
  font-family: "Nunito Sans", sans-serif;
}

.container-footer-additional-inf-item__text--margin {
  margin-bottom: 3rem;
}

.container-footer-additional-inf-item__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.container-footer-additional-inf-item__list a {
  color: #fff;
}

.container-footer-additional-inf-item__container-contact-footer {
  display: flex;
  gap: 1.5rem;
  margin-top: 4rem;
}

.container-contact-footer__img {
  height: 3.9rem;
  width: 3.9rem;
}

.container-contact-footer__container-phone {
  display: flex;
  flex-direction: column;
  font-family: "Nunito Sans", sans-serif;
  gap: 1rem;
}

.container-phone__label {
  font-size: 1.8rem;
  font-weight: 400;
}

.container-phone__phone {
  font-weight: 600;
  font-size: 2.4rem;
}

.container-footer-additional-inf-item__form-footer,
.form-footer__buton {
  border-radius: 50rem;
}

.container-footer-additional-inf-item__form-footer {
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 28.7rem;
  height: 4.9rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  margin: 4rem 0;
}

.form-footer__input,
.form-footer__buton {
  border: none;
}

.form-footer__input {
  outline: none;
  background-color: transparent;
  width: 100%;
  max-width: 14rem;
}

.form-footer__buton {
  background-color: #000;
  font-size: 1.8rem;
  font-size: 200;
  color: #fff;
  cursor: pointer;
  padding: 0 1.5rem;
}

.container-footer-additional-inf-item__list-newsletter {
  display: flex;
  gap: 2.5rem;
}

.list-newsletter__item {
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list-newsletter__item img {
  width: 1.8rem;
  height: 1.8rem;
}

.list-newsletter__item:nth-child(3) img {
  width: 1.6rem;
  height: 2.3rem;
}

.list-newsletter__item:nth-child(4) img {
  width: 1.8rem;
  height: 1.3rem;
}

.container-main-footer__container-footer-copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  border-top: 0.1rem solid rgb(224, 223, 224);
  height: 8rem;
  align-items: center;
}

.container-footer-copyright__container-links {
  display: flex;
  gap: 4rem;
}

.container-footer-copyright__container-links a {
  color: #fff;
}

@media (max-width: 1200px) {
  .container-main-footer__container-footer-copyright {
    padding: 0 2rem;
  }
}
@media (max-width: 1070px) {
  .container-main-footer__container-footer-additional-inf {
    flex-direction: column;
    padding: 0 4rem;
  }
  .container-footer-additional-inf__container-footer-additional-inf-item {
    margin-bottom: 4rem;
  }
  .container-footer-additional-inf__container-footer-additional-inf-item:nth-child(4) {
    margin-bottom: 0;
  }
}
@media (max-width: 780px) {
  .banner-footer__paragraphy {
    font-size: 3rem;
  }
}
@media (max-width: 650px) {
  .container-main-footer__container-footer-copyright {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
  }
}
.default-button {
  background-color: #000;
  border: none;
  color: #fff;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  border-radius: 0.4rem;
}

/*# sourceMappingURL=main.css.map */
