body {
  background-image: url("../../images/background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Roboto", sans-serif;
}

.background-padrao {
  height: 61.5%;
  position: absolute;
  border-radius: 10%;
  z-index: 1;
  max-width: 471.55px;
  max-height: 432.467px;
}

.conteudo-padrao {
  height: 60%;
  max-width: 461px;
  max-height: 422px;
  background-color: white;
  border-radius: 10%;
  padding: 3rem 5rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  user-select: none;
}

.conteudo-principal {
  background-color: rgba(18, 13, 13, 0.542);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.conteudo-principal .container-conversor__background {
  background: linear-gradient(25deg, #583aa5, #3aa5a5);
}
.conteudo-principal .container-resultado__background {
  background: linear-gradient(25deg, #3aa553, #19046e);
}
.conteudo-principal .esconder-background {
  display: none;
}
.conteudo-principal .alerta-padrao {
  position: absolute;
  background-color: #8b2a2a;
  padding: 2rem 2.5rem;
  color: #FFF;
  z-index: 5;
  border-radius: 1.5rem;
  text-transform: uppercase;
  font-weight: 900;
  user-select: none;
  margin: 0rem 1.5rem;
  line-height: 1.5rem;
}
.conteudo-principal .alerta-padrao .alerta-padrao__botao-fechar {
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
}
.conteudo-principal .alerta-padrao .alerta-padrao__botao-fechar:hover {
  scale: 1.1;
}
.conteudo-principal .esconder-alerta {
  display: none;
}

.conteudo-principal__conversor {
  overflow: hidden;
}
.conteudo-principal__conversor .conversor__container-conversor {
  height: 100%;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__titulo {
  font-weight: 900;
  font-size: 1.5rem;
  color: #3aa5a5;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 80%;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__label {
  display: block;
  text-align: start;
  color: rgba(147, 146, 146, 0.6901960784);
  margin-bottom: 1rem;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__input-entrada {
  border: none;
  border-radius: 1.5rem;
  padding: 1rem 2rem;
  width: 100%;
  color: rgba(87, 85, 85, 0.6941176471);
  background-color: rgba(216, 216, 216, 0.6901960784);
  text-align: center;
  outline: none;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao {
  display: grid;
  grid-template-areas: "item1 item2 item3" "item4 item5 item6";
  gap: 1rem;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .escolha-conversao__opcao-escolha {
  background: linear-gradient(25deg, #583aa5, #3aa5a5);
  border-radius: 2rem;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .escolha-conversao__opcao-escolha:hover {
  scale: 1.1;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .elemento1 {
  grid-area: item1;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .elemento2 {
  grid-area: item2;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .elemento3 {
  grid-area: item3;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .elemento4 {
  grid-area: item4;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .elemento5 {
  grid-area: item5;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .elemento6 {
  grid-area: item6;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .escolha-conversao__opcao-escolha--selecionado {
  background: linear-gradient(25deg, #3aa553, #a53a47);
  border-radius: 2rem;
  padding: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao .escolha-conversao__opcao-escolha--selecionado:hover {
  scale: 1.1;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__botao-converter {
  background-color: #3aa5a5;
  border: none;
  border-radius: 1.5rem;
  padding: 1rem 0rem;
  width: 100%;
  height: 4.5rem;
  cursor: pointer;
  text-transform: uppercase;
  color: white;
  transition: scale 0.3s linear;
  font-size: 1.1rem;
  font-weight: 900;
}
.conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__botao-converter:hover {
  scale: 1.1;
}

.esconder-conversor {
  display: none;
}

.conteudo-principal__resultado .resultado__container-resultado {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
}
.conteudo-principal__resultado .resultado__container-resultado .container-resultado__botao-fechar {
  font-size: 1.5rem;
  position: absolute;
  right: 0rem;
  top: 0rem;
  font-weight: 900;
  cursor: pointer;
  transition: scale 0.3s linear;
}
.conteudo-principal__resultado .resultado__container-resultado .container-resultado__botao-fechar:hover {
  scale: 1.2;
}
.conteudo-principal__resultado .resultado__container-resultado .container-resultado__titulo {
  font-weight: 900;
  font-size: 1.5rem;
  padding-top: 4rem;
}
.conteudo-principal__resultado .resultado__container-resultado .container-resultado__resultado {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}
.conteudo-principal__resultado .resultado__container-resultado .container-resultado__resultado .resultado__parag {
  padding-right: 1rem;
}
.conteudo-principal__resultado .resultado__container-resultado .container-resultado__resultado .resultado__unidade-conversao {
  padding-left: 1rem;
}

.esconder-resultado {
  display: none;
}

@media screen and (min-width: 280px) {
  .background-padrao {
    height: 81%;
    width: 91%;
    border-radius: 1.5rem;
  }
  .conteudo-padrao {
    height: 80%;
    width: 88%;
    border-radius: 1.5rem;
  }
  .form-conversor__container-entrada {
    width: 100%;
  }
  .conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao {
    display: grid;
    grid-template-areas: "item1 item2" "item4 item3" "item5 item6";
  }
  .container-conversor__form-conversor {
    align-items: center;
  }
  .form-conversor__botao-converter {
    width: 50%;
  }
}
@media screen and (min-width: 380px) {
  .background-padrao {
    height: 81%;
    width: 90%;
    border-radius: 1.5rem;
  }
  .conteudo-padrao {
    height: 80%;
    width: 88%;
    border-radius: 1.5rem;
  }
  .form-conversor__container-entrada {
    width: 100%;
  }
  .conteudo-principal__conversor .conversor__container-conversor .container-conversor__form-conversor .form-conversor__escolha-conversao {
    display: grid;
    grid-template-areas: "item1 item2 item4" "item3 item5 item6";
  }
  .container-conversor__form-conversor {
    align-items: center;
  }
  .form-conversor__botao-converter {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
