@import "../abstracts/variables";
@import "../base/typography";

body {
    background-color: $bg-color;
    font-family: $font-default;
}

.container {
    width: 32.8rem;
    margin: 0 auto;
}

.container--margin-top {
    
    margin-top: 4.0rem;
}

.container--padding-bottom {
    padding-bottom: 3.0rem;
}