.section-cursos__container-principal {
    width: 80%;
    margin: 0px auto;
    display: flex;
    padding-top: 20px;
    flex-direction: column;
}

@media screen and (max-width:480px) {
    .section-cursos__container-principal {
        width: 100%;
        margin-left: 10px;
    }
}