.container-cursos__titulo {
    font-weight: bold;
    font-size: 32px;
}

@media screen and (max-width:480px) {
    .container-cursos__titulo {
       margin-bottom: 15px;
       text-align: center;
    }
}