.itens__background2 {
    width: 20%;
}

.itens__background1 {
    width: 20%;
}



.itens__background1::before {
    content: url("/assets/img/background1.svg");
    
}

.itens__background2::before {
    content: url("/assets/img/background2.svg");
}