@media screen and (min-width: 280px) {

    .main-content__initial-section {

        .initial-section__container {
            width: 100%;
        }
    }


    .operations-container__operations-menu {
        height: 100%;
        gap: 4.5rem;
    }


    .initial-section__input-form {

        width: 100%;


    }

    .operations-container__perform-operation {
        width: 95%;
        height: 300px;
        padding: 0rem .5rem;
        min-width: 258px;
        max-width: 450px;
    }

    
}

@media screen and (max-width: 280px) {

    .main-content__initial-section .initial-section__container {
        width: 100%;
        margin: 0rem;
        padding: 0rem 1.0rem;
    }

    .initial-section__input-form {
        width: 100%;
    }

    
}

@media screen and (max-width: 598px) {

    html {
        font-size: 50%;
    }

    .operations-container__values-container .values-container__balance-available,
    .operations-container__values-container .values-container__applied-value {
        width: 48%;
    }

    .operations-container__operations-menu {
        width: 100%;
        flex-direction: column;
    }

    .operations-container__operations-menu .operations-menu__functions .functions__button {
        height: 13.0rem;
        width: 13.0rem;
    }

   
}

@media screen and (min-width: 599px) {

}

