.container-conteudo-principal__informacoes {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2.0rem;
    width: 50%;


    .informacoes__img-titulo {

        display: inline-block;
        height: 15.0rem;
        margin-bottom: 1.0rem;

    }

    .informacoes__resumo {

        width: 65%;
        line-height: 1.6rem;
        font-size: 1.4rem;
        color: #FFF;
    }


    .informacoes__botao-trailer {

        background-color: rgb(255, 0, 0);
        border: none;
        color: #FFF;
        text-transform: uppercase;
        padding: 1.0rem;
        cursor: pointer;
        font-weight: bold;
        transition: scale .3s linear;

        &:hover {

            scale: 1.1;
        }
    }
}