.conteudo-pagina__container-pagina {
    display: grid;
    width: 100%;
    height: auto;
    margin-top: 30px;
    padding: 0px 30px;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: 
    "conteudo-principal  outros-conteudos";
    flex: 1 0 auto;
}

@media screen and (max-width: 630px){
    .conteudo-pagina__container-pagina{
        grid-template-areas: 
        "conteudo-principal"
        "outros-conteudos";
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }
}