/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@700&family=Inter:wght@600;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(1, 8, 14) 25%, rgba(80, 94, 255, 0.85) 50%, rgb(1, 8, 14) 75%, rgb(0, 0, 0) 100%);
  background-repeat: no-repeat;
  height: 100%;
  min-height: 100vh;
  font-family: "Inter", sans-serif;
  color: #FFF;
  background-attachment: fixed;
}

.header {
  height: 18.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  margin-top: 3rem;
}

.title__img {
  max-width: 24.8rem;
}

.divisor {
  display: flex;
  align-items: center;
  gap: 5.4rem;
}

.divisor__img {
  max-width: 32.8rem;
}

.divisor__line {
  background-color: #00f4bf;
  width: 28.2rem;
  min-width: 6rem;
  height: 0.1rem;
}

@media (max-width: 661px) {
  .divisor__line {
    display: none;
  }
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}

.main-content__title {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
  font-size: 8rem;
  margin-bottom: 8rem;
  text-align: center;
}

.title--color {
  color: #505eff;
}

.main-content__container-games {
  display: flex;
  flex-direction: column;
  margin: 0 1.5rem;
}

.container-games__games-section {
  border: 0.1rem solid #00f4bf;
  border-radius: 2rem;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 6rem;
}

.games-section__games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 8rem;
  max-width: 100.6rem;
}

.games-list-item__game-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-card__container-game-card-img {
  position: relative;
}

.overlay::after {
  content: "";
  display: block;
  position: absolute;
  background-color: rgba(1, 8, 14, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container-game-card-img__img {
  box-shadow: 0px 0px 24px 8px rgba(24, 118, 232, 0.25);
  width: 100%;
  height: 100%;
}

.game-card__game-title {
  font-size: 3.2rem;
  font-weight: 600;
  padding: 2rem 0 4rem 0;
}

.game-card__button {
  width: 20.8rem;
  height: 6rem;
  border-radius: 1rem;
  border: none;
  background-color: #1875e8;
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  transition: box-shadow 0.3s;
}
.game-card__button:hover {
  box-shadow: 0px 0px 24px 8px rgba(24, 118, 232, 0.25);
}

.container-games__hachuras {
  max-width: 37.9rem;
  margin: 3rem 0;
  align-self: flex-end;
}

.line-break {
  display: none;
}

@media (max-width: 548px) {
  .line-break {
    display: block;
  }
  .main-content__title {
    font-size: 5rem;
  }
}
.footer {
  text-align: center;
  font-size: 1.3rem;
  padding: 1.5rem 0;
}

.button-rented {
  background-color: #01080E;
  box-shadow: none;
}

/*# sourceMappingURL=main.css.map */
