.button-default {
  border: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  border-radius: 4rem;
  font-weight: 700;
  @include bg-e-color($secondary-color, $primary-color);
  cursor: pointer;
  transition: 0.3s;
}
