@media screen and (min-width: 602px){
    .container-btn-close, i.nav-burguer {
        display: none;
    }
    
    
}   

@media screen and (min-width: 601px){
    #navBar{
        display: flex;
    }

}


@media screen and (max-width: 600px) {

    .overlay{
        position:fixed;
        z-index: 9;
        height: 100%;
        width: 0;
        left: 0px;
        background-color: rgb(0,0,0, 0.9);
        top: 0px;
        overflow-x: hidden;
        transition: all 0.5s;
    }

    

    .container-btn-close {
        display: flex;
        justify-content: flex-end;
        margin-right: 20px;
        margin-top: 20px;
    }

    .btn-close {
        color: var(--branco);
        font-size: 30px;
        
    }

    .btn-close:hover{
        cursor: pointer;
        color: rgb(218, 214, 214);
    }

   .nav-burguer {
        font-size: 30px;
    }
   
     .nav-burguer:hover {
        color: rgb(165, 164, 164);
        cursor: pointer;
    }
    
}

@media screen and (max-width: 900px){
    .container-cabecalho-principal__menu-principal{
        padding-top: 20px;
        padding-bottom: 20px;
    }
}