$cinza: #FAFAFA;
$azuBotaol: #0095f6;
$azulClaroBotao: #B2DFFC;
$linkFacebook: #385185;
$branco: #FFFFFF;
$linhaCinza: #DBDBDB;

body {
    background-color: $cinza;
    font-family: 'Roboto', sans-serif;
}

