.form__botao-contato {
    background-color: #f79f25;
    border: none;
    width: 85%;
    font-size: 20px;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    height: 50px;
    transition: .8s;
}

.form__botao-contato:hover {
    width: 90%;
    height: 60px;
    background-color: darkorange;
}