.main-content__initialize-program-section {
    
    height: calc(100vh - 3.0rem);
    display: flex;
    align-items: center;
    justify-content: center;

    .initialize-program-section__startup_container {

        height: 10.0rem;
        width: 10.0rem;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
        background-color: rgb(23, 131, 131);
        display: flex;
        align-items: center;
        justify-content: center;

        .icone {

            display: flex;
           
        }

        .fa-hand {
            font-size: 2.5rem;
         }


        &:hover {
            top: -10px;
            opacity:.8;
        }
    }
}

.hide-content {
    display: none;
}