.caixas-setores__janelas {
    background-color: var(--banner-cor-1);
    height: 100px;
    width: 49%;
    margin: 2px;
    cursor: pointer;
    transition: background .5s;
}

.caixas-setores__janelas:nth-child( 2n){
    margin-right: 0px;
}

.caixas-setores__janelas:nth-child( 1n){
    margin-left: 0px;
}


.caixas-setores__janelas:hover {
    background-color: var(--banner-cor-2);
}