.contatos-gerais__meios-contatos {
    
    border-bottom: 1px solid var(--cinza-escuro);
    padding-bottom: 15px;
    padding-top: 15px;
}

.contatos-gerais__meios-contatos--enfase {
    font-weight: bold;
}

.contatos-gerais__meios-contatos--borda {
    
    border-top: 1px solid var(--cinza-escuro);
}