.section-container-banner {
  margin: 8rem 0;
  height: 405.55px;
  display: flex;
  justify-content: center;
  display: flex;
  padding: 0 3.0rem;
}

.section-container-banner__container-banner-title {
  max-width: 489px;
}

.container-banner-title__banner-title {
  font-size: 5.3rem;
  font-weight: 200;
  
  line-height: 80.55px;
}

.banner-title--strong {
  font-weight: 700;
  display: block;
  line-height: 79.5px;
}

.container-banner-img__img {
  height: 100%;
  max-width: 483.51px;
}


// 860

@media (max-width: 820px) {
  .section-container-banner {
    flex-direction: column;
    height: auto;
    align-items: center;
    margin: 0;
    
    margin-bottom: 8.0rem;
  }

  .container-banner-img__img {
    margin-top: 2.5rem;
  }

 
}

@media (max-width: 550px) {
  .container-banner-title__banner-title {
    font-size: 4.3rem;
  }
}