.section-container-banner {
  margin: 8rem 0;
  height: 405.55px;
  display: flex;
  justify-content: center;
  display: flex;
}

.section-container-banner__container-banner-title {
  width: 489px;
}

.container-banner-title__banner-title {
  font-size: 5.3rem;
  font-weight: 200;
  
  line-height: 80.55px;
}

.banner-title--strong {
  font-weight: 700;
  display: block;
  line-height: 79.5px;
}

.container-banner-img__img {
  height: 100%;
  max-width: 483.51px;
}
