body {
  background: rgb(139, 31, 248);
  background: linear-gradient(
    180deg,
    rgba(139, 31, 248, 1) 0%,
    rgba(4, 24, 50, 1) 50%,
    rgba(1, 8, 14, 1) 100%
  );
  font-family: $default-font;
  color: #fff;
}
