body {
  background: #000;
  font-family: $default-font;
  color: #fff;
  position: relative;
}

.focus {
  background: rgb(139, 31, 248);
  background: linear-gradient(
    180deg,
    rgba(139, 31, 248, 1) 0%,
    rgba(4, 24, 50, 1) 50%,
    rgba(1, 8, 14, 1) 100%
  );
}

.short-rest {
  background: rgb(15, 114, 92);
  background: linear-gradient(
    180deg,
    rgba(15, 114, 92, 1) 0%,
    rgba(4, 24, 50, 1) 50%,
    rgba(1, 8, 14, 1) 100%
  );
}

.long-rest {
  background: rgb(24, 117, 233);
  background: linear-gradient(
    180deg,
    rgba(24, 117, 233, 1) 0%,
    rgba(4, 24, 50, 1) 48.44%,
    rgba(1, 8, 14, 1) 100%
  );
}

body::before {
  content: "";
  background-image: url("../../images/Background-linhas.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -999;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.hidden-content {
  display: none;
}
