.cabecalho__container-cabecalho {

    display: flex;
    width: 90%;
    height: 10.0rem;
    margin: 0rem auto;
    justify-content: space-between;
    align-items: center;

    .container-cabecalho__logo-link {


        .logo-link__img-logo {
            width: 6.5rem;
        }

    }

}