/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@300;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

body {
  background: rgb(1, 8, 14);
  background: linear-gradient(180deg, rgb(1, 8, 14) 1%, rgb(4, 24, 50) 39%, rgb(1, 8, 14) 88%);
  background-repeat: no-repeat;
  font-family: "Inter", sans-serif;
  color: #FFF;
  padding: 8rem 8rem 0 8rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.main-header {
  width: 100%;
  margin: 2rem 0;
}

.container-main-header__logo {
  width: 196px;
  height: 3rem;
  margin-left: 4rem;
}

.main-content__eTicket-section {
  border: 0.2rem solid #00f4bf;
  background-image: url("../../images/PNG/Imagem sem borda.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 5rem 8rem;
  margin-top: 3rem;
}

.main-content__eTicket-section::before {
  content: "";
  position: absolute;
  top: -1.7rem;
  left: 0;
  background: url("../../images/PNG/Grafismo verde.png") no-repeat;
  background-size: cover;
  width: 100%;
  max-width: 51.1rem;
  height: 3.3rem;
}

.purchase-section__purchase-title {
  font-size: 7.3rem;
  font-family: "Chakra Petch", sans-serif;
  font-weight: 700;
}

.purchase-title--color {
  color: #1875e8;
}

.purchase-section__purchase-form {
  display: flex;
  align-items: end;
  width: 100%;
  gap: 2rem;
  margin: 4rem 0rem 13rem 0;
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.container-ticket-type__select-ticket-type {
  width: 35.6rem;
}

.container-amount__input-amount {
  width: 6rem;
  background-color: transparent;
  text-align: center;
  color: #fff;
}

.container-amount__input-amount::-webkit-outer-spin-button,
.container-amount__input-amount::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.purchase-section__hachuras {
  max-width: 90rem;
  margin-bottom: 10rem;
}

@media (max-width: 1145px) {
  .purchase-section__hachuras {
    margin-bottom: 5rem;
  }
}
@media (max-width: 820px) {
  .main-content__eTicket-section {
    padding: 5rem 2rem;
  }
  .purchase-section__purchase-title {
    font-size: 5.3rem;
  }
  .purchase-section__purchase-form {
    display: grid;
    justify-content: flex-start;
    grid-template-areas: "select  amount" "button  button";
    margin: 4rem 0rem 8rem 0;
  }
  .container-ticket-type__select-ticket-type {
    grid-area: select;
    width: 20rem;
  }
  .container-amount__input-amount {
    grid-area: amount;
  }
  .purchase-form__button {
    grid-area: button;
  }
}
@media (max-width: 405px) {
  .container-ticket-type__select-ticket-type {
    width: 18rem;
  }
}
@media (max-width: 486px) {
  .purchase-section__purchase-form {
    display: grid;
    grid-template-areas: "select" "amount" "button";
  }
  .purchase-section__purchase-title {
    font-size: 4.3rem;
  }
}
.eTicket-section__tickets-available-section {
  display: flex;
  justify-content: space-between;
}

.tickets-available-section__available-tickets-section-title {
  font-family: "Chakra Petch", sans-serif;
  font-size: 3rem;
  font-weight: 700;
}

.tickets-available-section__list-of-available-tickets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.items-of-available-tickets__label,
.items-of-available-tickets__amount {
  font-weight: 400;
}

.items-of-available-tickets__label {
  font-size: 2.3rem;
}

.items-of-available-tickets__amount {
  color: #00f4bf;
  margin-left: 2rem;
  font-size: 2.5rem;
}

.tickets-available-section__img {
  max-width: 22.4rem;
  height: 13.3rem;
}

@media (max-width: 1145px) {
  .eTicket-section__tickets-available-section {
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  .tickets-available-section__available-tickets-section-title {
    margin-bottom: 2rem;
    text-align: center;
  }
}
@media (max-width: 459px) {
  .items-of-available-tickets__label {
    font-size: 1.5rem;
  }
  .items-of-available-tickets__amount {
    font-size: 1.7rem;
  }
  .tickets-available-section__list-of-available-tickets {
    gap: 0.6rem;
  }
}
@media (max-width: 475px) {
  .tickets-available-section__img {
    width: 12.4rem;
    height: 7.3rem;
  }
}
.main-footer {
  height: 6rem;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-footer__paragraphy {
  text-align: center;
  font-size: 1.5rem;
}

.paragraphy__link {
  color: #fff;
}

.paragraphy__link:active {
  color: red;
}

.label {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.select, .input {
  height: 5.6rem;
  border: 0.1rem solid #00F4BF;
  border-radius: 0.5rem;
  outline: none;
  padding: 0 1.5rem;
  font-size: 1.7rem;
}

.select {
  appearance: none;
  cursor: pointer;
  background: url("../../images/PNG/Arrow down.png") no-repeat right 1rem top 50%;
  background-color: #FFF;
}

.purchase-form__button {
  width: 13rem;
  height: 6.1rem;
  background-color: #1875E8;
  color: #FFF;
  border: none;
  padding: 1rem 1.5rem;
  box-shadow: 0px 0px 20px 0px rgba(24, 117, 232, 0.5);
  border-radius: 1rem;
  font-size: 1.7rem;
  cursor: pointer;
}

/*# sourceMappingURL=main.css.map */
