.footerPrincipal {

    height: 100px;
    margin-top: 40px;

    .footerPrincipal__containerFooter {


        .containerFooter__menuFooter {

            display: flex;
            justify-content: center;
            gap: 20px;
            font-size: 13px;            

            .itensFooter__linkFooterMenu {
                color: #a59ea0;
            }
        }

        .containerFooter__copyrightEIdioma {

            display: flex;
            justify-content: center;
            gap: 20px;
            font-size: 13px;
            margin-top: 20px;
            .copyrightEIdioma__idioma {

                color: #a59ea0;
            }
        }
    }
}