.operations-container__perform-operation {

    background-color: $roxo;
    border-radius: 10%;
    width: 30%;
    margin: 0 auto;
    margin-top: 2.0rem;
    height: 100%;

    .perform-operation__container-operation {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.4rem;
        padding: 2.0rem 0;
        height: 100%;
        position: relative;


        .container-operation__container-btn-close {

            cursor: pointer;
            position: absolute;
            right: 3.5rem;
            top: 2.5rem;
            height: 2.5rem;
            width: 2.5rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .container-btn-close__btn-close {

                width: 2.0rem;
                height: .5rem;
                border-radius: 1.5rem;
                background-color: #FFF;
                position: absolute;

            }

            .container-btn-close__btn-close:nth-child(1) {

                transform: rotate(45deg);
            }

            .container-btn-close__btn-close:nth-child(2) {

                transform: rotate(135deg);
            }

        }





        .container-operation__title {
            color: #FFF;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.5rem;
            margin-bottom: 2.0rem;
        }

        .container-operation__input {
            width: 100%;
            max-width: 28.3rem;
            min-width: 19.4rem;
            border-radius: 1.0rem;
            padding: 1.0rem 1.5rem;
            outline: none;
            text-align: center;
        }

        .container-operation__container-extrato {
            
            height: 80%;
            width: 70%;
            overflow-y: auto;
            padding-right: 30px;

            .container-extrato__container {
                
                border-bottom: 1px solid #FFF;
                padding: 1.5rem;
                display: flex;
                align-items: center;
                justify-content: space-around;

                .container__inf-extrato {

                    color: #FFF;



                    .inf-extrato__title {

                        font-size: 1.5rem;
                        display: block;
                        font-weight: 900;
                        text-transform: uppercase;
                        margin-bottom: 1.0rem;

                    }

                    .inf-extrato__valor-operacao {

                        font-size: 1.3rem;
                        font-weight: 400;
                        

                        .valor-operacao__valor {
                            display: inline-block;
                            font-size: 1.3rem;
                            font-weight: 300;
                            margin-left: 1.0rem;
                            padding-top: .5rem;
                        }
                    }
                }

                .container__img {
                    height: 4.0rem;
                }
            }
        }

       
    }



    .hide-content {
        display: none;
    }


}

.hide-content {
    display: none;
}