.conteudo-principal {
    // background-color: rgb(106, 106, 106);
    background-image: url("../../image/wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: calc(100vh - 3.0rem);
    width: 100%;

    .conteudo-principal__container-principal {

        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.423);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        user-select: none;
        position: relative;

        .container-principal__titulo {
            text-transform: uppercase;
            font-weight: bold;
            font-size: 2.0rem;
            margin-bottom: 1.0rem;

        }

        audio {
            display: none;
        }

        

        .container-botao-audio {

            position: absolute;
            top: 0px;
            right: 0px;
            display: flex;
            gap: 2.0rem;
            padding: 1.0rem;

            .botao-audio  {
                cursor: pointer;
                font-size: 30px;
                color: white;
                transition: color .2s linear;
            }

            
        }

        
    }

    

}