$azul-principal: #1da1f2;
$cinza: #828282;
$cinza-escuro: #333333;
$cinza-azulado: #e7ecf0;
$preto: #000000;
$branco: #ffffff;


body {
    display: grid;
    grid-template-areas: 
    "menu  conteudo-principal conteudo-principal"
    "rodape rodape rodape";
    grid-template-rows: calc(1000px - 6.0rem) 6.0rem;
    grid-template-columns: 25.0rem auto auto;
    font-family: 'Roboto', sans-serif;
    user-select: none;

    
}


@media screen and (max-width: 676px) {
    body {
        grid-template-columns: 6.0rem auto auto;
        overflow-x: hidden;
    }
}

@media screen and (max-width: 488px) {
    html {
        font-size: 50%;
    }
}