.container-conteudo-principal__menu-controle {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 50px;

    

    .menu-controle__ataque {
        background-color: $botao-color-ataque;

        &:hover {
            background-color: rgba(255, 0, 0, 0.538);
        }
    }

    .menu-controle__defesa {
        background-color: $botao-color-defesa;

        &:hover {
            background-color: rgb(0, 0, 255, 0.538);
        }
    }
}