body {
    background: url("https://static.vecteezy.com/ti/vetor-gratis/p1/8895733-problemas-na-comunicacao-conceito-mal-entendido-criar-confusao-no-trabalho-falha-comunicacao-mensagem-e-informacoes-homem-e-mulher-de-negocios-tem-problemas-com-com-entendendo-se-vetor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Fredoka One', cursive;

    .wallpaper-shadow {
        background-color: rgba(0, 0, 0, 0.326);
        height: 100%;
        width: 100vw;
        position: absolute;
        z-index: -10;
    }
}