.main-footer {

    height: 3.0rem;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;

    .main-footer__footer-label {

        margin: 0 auto;
        font-size: 1.2rem;
    }
}