.itens-ultimmas-inf__titulo {
    padding-top: 20px;
    padding-bottom: 35px;
    color: var(--branco);
}

.itens-ultimmas-inf__titulo--borda {
    border-bottom: 2px solid var(--banner-cor-1);
    padding-bottom: 5px;
}