.argumentos__botao {
    background-color: #EC6E5A;
    border: 0px;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    height: 50px;
    cursor: pointer;
    transition: .6s;
}

.argumentos__botao:hover {
    background-color: #eb5d48;
}


@media screen and (max-width:480px) {
    .argumentos__botao {
        margin: 0px 10px 20px 10px;
    }
    
}