$font-color-branco: #FFF;
$font-color-preto: rgb(41, 40, 40);
$botao-color-ataque: rgb(255, 0, 0);
$botao-color-defesa: rgb(0, 0, 255);


body {
    background-image: url("../images/background.gif");
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Press Start 2P', cursive;
    color: $font-color-branco;
}

.layout-botao {
    padding: 20px 40px;
    border-radius: 20px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .3s linear;
    user-select: none;

    &:hover {
        transform: scale(1.2);
    }
}

.esconder-conteudo {
    display: none;
}


.tela-alerta-padrao {
    display: none;
}


.mostrar-tela-alerta-padrao {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 1.4rem;
    border-radius: 1.0rem;
    height: 100px;
    z-index: 4;
    background-color: rgb(156, 41, 41);
    user-select: none;
    line-height: 2.0rem;

    p {
        color: rgb(179, 179, 179);
    }

    .botao-fechar-padrao {
        position: absolute;
        right: 1.0rem;
        top: 1.0rem;
        font-size: 1.3rem;
        color: rgb(249, 249, 249);
        transition: transform .2s linear;
        cursor: pointer;

        &:hover {
            transform: scale(1.2);
        }
    }
}

