.eTicket-section__tickets-available-section {
  display: flex;
  justify-content: space-between;
}

.tickets-available-section__available-tickets-section-title {
  font-family: $secondary-source;
  font-size: 3rem;
  font-weight: 700;
}

.tickets-available-section__list-of-available-tickets {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.items-of-available-tickets__label,
.items-of-available-tickets__amount {
  font-weight: 400;
}

.items-of-available-tickets__label {
  font-size: 2.3rem;
}

.items-of-available-tickets__amount {
  color: #00f4bf;
  margin-left: 2rem;
  font-size: 2.5rem;
}

.tickets-available-section__img {
  max-width: 22.4rem;
  height: 13.3rem;
}
