.containerInsta__containerObtenhaApp {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-weight: 300;

    .containerObtenhaApp__parag {
        text-align: center;
        padding: 10px 0px 20px;
        font-size: 15px;
    }

    .containerObtenhaApp__containerApps {

        display: flex;

        .containerApps__appStore img, .containerApps__googlePlay img{
            height: 40px;
        }

        .containerApps__appStore img {
            margin-right: 7px;
        }

    }
}