.conteudo-principal {
    grid-area: conteudo-principal;
    border-left: 1px solid $cinza-azulado;
    border-right: 1px solid $cinza-azulado;
    width: 60%;
    max-width: 70.0rem;
    min-width: 42.0rem;
    

    .conteudo-principal__titulo {

        font-weight: bold;
        border-bottom: 1px solid $cinza-azulado;
        font-size: 1.5rem;
        padding: 4.0rem 0rem 1.5rem 4.0rem;
    }
}

@media screen and (max-width:900px) {
    .conteudo-principal {

        width: 98%;
    }
}

@media screen and (max-width:488px) {
    .conteudo-principal {
        min-width: 25.0rem;
    }
}