.operations-container__header {

    width: 100%;
    height: 7.0rem;
    background-color: $roxo;
    display: flex;
    align-items: center;
    padding: 0rem 1.5rem;
        


    .header__logo {

        background-color: $cinza;
        height: 5.0rem;
        width: 5.0rem;
        border-radius: 50%;

    }


    .header__company-name {

        margin: 0rem auto;
        color: #FFF;
        font-size: 1.8rem;

    }


    .header_container-btn-close {

        position: relative;
        right: 2.5rem;
        cursor: pointer;
        height: 3.5rem;
        width: 3.5rem;
        display: flex;
        align-items: center;
        justify-content: center;

        .container-btn-close__btn-close {
            height: 2.5rem;
           
        }
        
    }
}