.section-multiplication-table__container-multiplication-table {

    height: 80%;
    width: 60%;
    margin: 3.5rem 0px;
    overflow: hidden;

    .container-multiplication-table__sliders {

        width: 1184px;
        height: 100%;
        display: flex;
        position: relative;
        transition: 1s;

    }

    .arrow-right {
        
        transform: translateX(-592px);
    }

    .arrow-left{
        transform: translateX(0px);
    }
    
}